<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="referrer" content="no-referrer" />
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <script src="./static/config.js"></script>
  <!-- bigemap -->
  <!-- <link href='http://www.bigemap.com:9000/bigemap.js/v2.1.0/bigemap.css' rel='stylesheet' /> -->
  <!-- <script src='http://www.bigemap.com:9000/bigemap.js/v2.1.0/bigemap.js'></script> -->

  <link href='./static/bigeMap/bigemap.css' rel='stylesheet' />
  <script src='./static/bigeMap/bigemap.js'></script>

  <link rel='stylesheet' href='./static/bigeMap/button.min.css' />
  <!-- 轨迹回放 -->
  <script type="text/javascript" src="./static/bigeMap/moveMarker.js"></script>
  <script type="text/javascript" src="./static/bigeMap/bm.geometryutil.js"></script>
  <!-- 鼠标绘制 -->
  <link rel="stylesheet" href="./static/bigeMap/Bigemap.draw.css" />
  <script type="text/javascript" src="./static/bigeMap/bm.draw.min.js"></script>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>