<template>
  <div class="warp">
    <div class="leftEvent">
      <div class="mailuoWarp" v-if="this.eventList.length > 0">
        <el-timeline>
          <el-timeline-item
            v-for="(item, i) in eventList"
            :key="i"
            :timestamp="item.time"
            placement="top"
          >
            <el-card>
              <h4>{{ item.content }}</h4>
              <!-- <p>王小虎 提交于 2018/4/12 20:46</p> -->
            </el-card>
          </el-timeline-item>
        </el-timeline>
      </div>
      <div style="padding-top: 100px" v-else>
        <el-empty :image-size="150"></el-empty>
      </div>
    </div>
    <div class="rightTupu">
      <div id="zstupu" class="tupuWarp"></div>
    </div>
  </div>
</template>

<script>
import { getEmail, getVoice, getSms } from "@/api/index.js";
export default {
  props: {
    inforMessage: Object,
  },
  data() {
    return {
      //   查询信息
      searchInfo: {
        personId: 1,
        sousuo: "",
        pageNumber: 1, //页
        pageSize: 10, //条
      },
      // 事件脉络
      eventList: [
        // {
        //   time: "2018/4/12",
        //   content: "更新 Github 模板",
        // },
      ],
      // 图谱数据
      nodesList: [
        // {
        //   name: this.inforMessage.banknumber,
        //   category: 1,
        // },
        // {
        //   name: this.inforMessage.name,
        //   category: 0,
        // },
        // {
        //   name: this.inforMessage.email,
        //   category: 1,
        // },
        // {
        //   name: this.inforMessage.gender,
        //   category: 1,
        // },
        // {
        //   name: this.inforMessage.idcard,
        //   category: 1,
        // },
        // {
        //   name: this.inforMessage.imei,
        //   category: 1,
        //   gaojing: 0,
        // },
        // {
        //   name: this.inforMessage.imsi,
        //   category: 1,
        //   gaojing: 0,
        // },
        // {
        //   name: this.inforMessage.nation,
        //   category: 1,
        //   // gaojing: 1,
        // },
        // {
        //   name: this.inforMessage.nickname,
        //   category: 1,
        //   gaojing: 0,
        // },
        // {
        //   name: this.inforMessage.phone,
        //   category: 1,
        //   gaojing: 0,
        // },
        // {
        //   name: this.inforMessage.qq,
        //   category: 1,
        //   gaojing: 0,
        // },
        // {
        //   name: this.inforMessage.wid,
        //   category: 1,
        //   gaojing: 0,
        // },
        // {
        //   name: this.inforMessage.wname,
        //   category: 1,
        //   gaojing: 0,
        // },
        // {
        //   name: this.inforMessage.wnumber,
        //   category: 1,
        //   gaojing: 0,
        // },
      ],
      linksList: [
        {
          source: this.inforMessage.name,
          target: this.inforMessage.banknumber,
          name: "银行卡号",
        },
        {
          source: this.inforMessage.name,
          target: this.inforMessage.email,
          name: "邮箱",
        },
        {
          source: this.inforMessage.name,
          target: this.inforMessage.idcard,
          name: "身份证号",
        },
        {
          source: this.inforMessage.name,
          target: this.inforMessage.gender,
          name: "性别",
        },
        {
          source: this.inforMessage.name,
          target: this.inforMessage.imei,
          name: "imei",
        },
        {
          source: this.inforMessage.name,
          target: this.inforMessage.imsi,
          name: "imsi",
        },
        {
          source: this.inforMessage.name,
          target: this.inforMessage.nation,
          name: "国家",
        },
        {
          source: this.inforMessage.name,
          target: this.inforMessage.nickname,
          name: "昵称",
        },
        {
          source: this.inforMessage.name,
          target: this.inforMessage.phone,
          name: "手机号",
        },
        {
          source: this.inforMessage.name,
          target: this.inforMessage.qq,
          name: "qq",
        },
        {
          source: this.inforMessage.name,
          target: this.inforMessage.wid,
          name: "wid",
        },
        {
          source: this.inforMessage.name,
          target: this.inforMessage.wname,
          name: "wname",
        },
        {
          source: this.inforMessage.name,
          target: this.inforMessage.wnumber,
          name: "wnumber",
        },
      ],
    };
  },
  mounted() {
    for (let key in this.inforMessage) {
      if (this.inforMessage[key] != null) {
        if (key == "name") {
          this.nodesList.push({
            name: this.inforMessage[key],
            category: 0,
          });
        } else {
          this.nodesList.push({
            name: this.inforMessage[key],
            category: 1,
          });
        }
      }
    }
    this.queryFun();
    this.oneEcharts();
  },
  methods: {
    async queryFun() {
      this.searchInfo.sousuo = this.inforMessage.phone;
      await getEmail(this.searchInfo).then((res) => {
        if (res.data.status == 2) {
          res.data.object.forEach((element) => {
            this.eventList.push({
              time: element.startTime,
              content: `${element.callNumber}给${element.calledNumber}发送邮件`,
            });
          });
        }
      });
      await getVoice(this.searchInfo).then((res) => {
        if (res.data.status == 2) {
          res.data.object.forEach((element) => {
            this.eventList.push({
              time: element.startTime,
              content: `${element.callNumber}给${element.calledNumber}通话${element.talkTime}秒`,
            });
          });
        }
      });
      await getSms(this.searchInfo).then((res) => {
        if (res.data.status == 2) {
          res.data.object.forEach((element) => {
            this.eventList.push({
              time: element.startTime,
              content: `${element.callNumber}给${element.calledNumber}发送短信`,
            });
          });
        }
      });
      this.eventList.sort((a, b) => new Date(b.time) - new Date(a.time));
    },
    oneEcharts() {
      var myChart = this.$echarts.init(document.getElementById("zstupu"));
      let data = {
        nodes: this.nodesList,
        links: this.linksList,
      };

      const color1 = "#006acc";
      const color2 = "#ff7d18";
      const color3 = "#10a050";

      data.nodes.forEach((node) => {
        if (node.category === 0) {
          node.symbolSize = 100;
          node.itemStyle = {
            color: color1,
          };
        } else if (node.category === 1) {
          node.itemStyle = {
            color: color2,
          };
          if (node.gaojing === 1) {
            node.itemStyle = {
              color: "red",
            };
          }
        }
      });

      data.links.forEach((link) => {
        link.label = {
          align: "center",
          fontSize: 12,
        };

        // if (link.name === "wnumber") {
        //   link.lineStyle = {
        //     color: color2,
        //   };
        // } else if (link.name === "wid") {
        //   link.lineStyle = {
        //     color: color1,
        //   };
        // } else if (link.name === "手机号") {
        //   link.lineStyle = {
        //     color: color3,
        //   };
        // }
      });
      //顶部列表展示
      let categories = [
        {
          name: "公司",
          itemStyle: {
            color: color1,
          },
        },
        {
          name: "董事",
          itemStyle: {
            color: color2,
          },
        },
      ];

      let option = {
        title: {
          text: "知识图谱",
        },
        // legend: [
        //   {
        //     // selectedMode: 'single',
        //     data: categories.map((x) => x.name),
        //     // icon: 'circle'
        //   },
        // ],
        series: [
          {
            type: "graph",
            layout: "force",
            symbolSize: 58,
            draggable: true,
            roam: true,
            focusNodeAdjacency: true,
            categories: categories,
            edgeSymbol: ["", "arrow"],
            // edgeSymbolSize: [80, 10],
            edgeLabel: {
              normal: {
                show: true,
                textStyle: {
                  fontSize: 20,
                },
                formatter(x) {
                  // console.log(x.data.name, "909090");
                  return x.data.name;
                },
              },
            },
            label: {
              show: true,
            },
            force: {
              repulsion: 2000,
              edgeLength: 120,
            },
            data: data.nodes,
            links: data.links,
          },
        ],
      };
      // console.log(option, "option");
      myChart.setOption(option);
      // 为树图添加节点点击事件
      myChart.on("click", this.treeNodeclick);
    },
    treeNodeclick(param) {
      console.log(param, "0000");
      /* true 代表点击的是圆点
       fasle 表示点击的是当前节点的文本
    */
      // if (param.event.target.culling === true) {
      //   return;
      // } else if (param.event.target.culling === false) {
      //   let args = param.data; //当前节点及其子节点的值
      //   let level = param.data.level; //当前节点的层级 eg:"1-1-0",可以通过level判断当前的层级，从而进行不同的操作
      //   console.log(args, level);
      // }
    },
  },
};
</script>

<style lang="scss" scoped>
.warp {
  width: 100%;
  height: 100%;
  display: flex;
  .leftEvent {
    width: 350px;
    padding: 10px 20px;
    height: 600px;
    // max-height: 600px;
    overflow-y: auto;
    .mailuoWarp {
    }
  }
  .rightTupu {
    flex: 1;
    background: url("~@/assets/point.png") no-repeat;
    background-size: cover;
    .tupuWarp {
      width: 100%;
      height: 600px;
    }
  }
}
</style>