<template>
  <div class="zpqBo">
    <div
      v-if="this.imgArr.length > 0"
      @click="imgBtn(false)"
      :class="this.imgi > 0 ? 'zpqBtn' : 'noActive'"
    >
      <!-- :class="imgi ? 'zpqBtn' : 'noActive'" -->
      <i class="el-icon-caret-left"></i>
    </div>
    <div class="zpqcen" v-if="this.imgArr.length > 0">
      <!-- <div
        class="zpqOver"
        :style="`width:${
          imgArr.length * 192 + (imgArr.length - 1) * 8
        }px;margin-left:-${200 * imgi}px`"
      >
        <el-image
          class="zpqimg"
          v-for="(item, i) of imgArr"
          :key="i"
          style="width: 192px; height: 108px"
          :src="item"
          :fit="'cover'"
        ></el-image>
      </div> -->
      <div style="width: 100%; display: flex">
        <el-image
          referrerPolicy="no-referrer"
          v-for="(item, i) of imgArrList"
          :key="i"
          style="width: 192px; height: 108px; margin: 0 10px"
          :src="item"
          :fit="'cover'"
        ></el-image>
      </div>
    </div>
    <div
      v-if="this.imgArr.length > 0"
      @click="imgBtn(true)"
      :class="
        imgi < (this.imgArr.length + (7 - (this.imgArr.length % 7))) / 7 - 1
          ? 'zpqBtn'
          : 'noActive'
      "
    >
      <!-- :class="imgi < this.imgArr.length - 7 ? 'zpqBtn' : 'noActive'" -->
      <i class="el-icon-caret-right"></i>
    </div>
    <div class="kong" v-if="this.imgArr.length == 0">
      <el-empty :image-size="80"></el-empty>
    </div>
  </div>
</template>

<script>
import { hdfsImagesImages } from "@/api/index.js";
export default {
  props: {
    inforMessage: Object,
  },
  data() {
    return {
      //   查询信息
      searchInfo: {
        personId: 1,
        sousuo: "",
        pageNumber: 1, //页
        pageSize: 10, //条
      },
      //照片数据
      imgArr: [
        // require("@/assets/1.png"),
        // require("@/assets/2.png"),
        // require("@/assets/3.png"),
        // require("@/assets/4.png"),
        // require("@/assets/5.png"),
        // require("@/assets/6.png"),
        // require("@/assets/7.png"),
        // require("@/assets/8.png"),
      ],
      // 展示照片数据
      imgArrList: [],
      imgi: 0,
    };
  },
  mounted() {
    this.searchInfo.personId = this.inforMessage.phone;
    this.getHdfsImagesImages();
  },
  methods: {
    getHdfsImagesImages() {
      hdfsImagesImages(this.searchInfo).then((res) => {
        if (res.data.status == 0) {
          this.imgArr = res.data.object;
          if (this.imgArr.length >= 7) {
            this.imgArrList = this.imgArr.slice(0, 7);
          } else {
            this.imgArrList = this.imgArr;
          }
        }
      });
    },
    //照片按钮
    imgBtn(val) {
      // if (this.imgArr.length < 9) return;
      // let maxI = this.imgArr.length - 9;
      // if (val) {
      //   if (this.imgi + 1 <= maxI) {
      //     this.imgi += 1;
      //   }
      // } else {
      //   if (this.imgi - 1 >= 0) {
      //     this.imgi -= 1;
      //   }
      // }
      if (val) {
        this.imgi++;
      } else {
        this.imgi--;
      }
      let nowPage = (this.imgArr.length + (7 - (this.imgArr.length % 7))) / 7;
      // console.log(this.imgi, nowPage, "90909");
      if (this.imgi > nowPage - 1 || this.imgi < 0) {
        if (this.imgi < 0) {
          this.imgi = 0;
        } else {
          this.imgi = nowPage - 1;
        }
        return;
      } else {
        let start = this.imgi * 7;
        let end = this.imgi * 7 + 7;
        this.imgArrList = this.imgArr.slice(start, end);
      }
    },
    searchFun(note, val) {
      const newHref = this.$router.resolve({
        path: "/searchDetails",
        query: { personId: note, sousuo: val },
      });
      window.open(newHref.href, "_blank");
    },
  },
};
</script>

<style lang="scss" scoped>
.zpqBo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  .zpqBtn {
    width: 30px;
    height: 108px;
    background-color: rgba(186, 223, 251, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #254786;
    cursor: pointer;
    font-size: 20px;
  }
  .noActive {
    width: 30px;
    height: 108px;
    background-color: rgba(186, 223, 251, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #879bc2;
    cursor: not-allowed;
    font-size: 20px;
  }
  .zpqcen {
    width: calc(100% - 80px);
    height: 100%;
    overflow: hidden;
    .zpqOver {
      transition: 0.5s;
    }
  }
  .zpqimg + .zpqimg {
    margin-left: 8px;
  }
  .kong {
    margin: 0 auto;
    .el-empty {
      padding: 0;
    }
  }
}
</style>