<template>
  <div class="warp" v-loading="resDataLoading">
    <div class="mukuai_table">
      <el-table
        :data="resData.tableList"
        style="100%"
        max-height="390"
        stripe
        :header-cell-style="{
          color: '#2e7cf1',
          textAlign: 'center',
          backgroundColor: '#EBEEF5',
        }"
      >
        <template v-for="(item, i) in resData.tableHeader">
          <el-table-column
            :key="i"
            :prop="item"
            :label="
              item == 'imei'
                ? 'imei'
                : item == 'deviceModel'
                ? '设备型号'
                : item == 'manufacturer'
                ? '制造商'
                : item == 'osVersion'
                ? '操作系统版本'
                : item == 'language'
                ? '语言'
                : item == 'country'
                ? '国家'
                : item
            "
            align="center"
          >
            <template slot-scope="scope">
              <div
                v-if="item == 'imei'"
                class="searchColor"
                @click="searchFun(6, scope.row[item])"
              >
                {{ scope.row[item] }}
              </div>
              <div v-else>{{ scope.row[item] }}</div>
            </template>
          </el-table-column>
        </template>
      </el-table>
    </div>
    <div class="page_warp">
      <!-- @size-change="handleSizeChange" -->
      <el-pagination
        @current-change="handleCurrentChange"
        :current-page="searchInfo.pageNumber"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="searchInfo.pageSize"
        layout="total,prev,pager,next,jumper"
        :total="resData.total"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import { getTerminal } from "@/api/index.js";
export default {
  props: {
    inforMessage: Object,
  },
  data() {
    return {
      //   查询信息
      searchInfo: {
        personId: 1,
        sousuo: "",
        pageNumber: 1, //页
        pageSize: 10, //条
      },
      // 结果信息
      resData: {
        tableList: [],
        tableHeader: [
          "imei",
          "deviceModel",
          "manufacturer",
          "osVersion",
          "language",
          "country",
        ],
        total: 100,
      },
      resDataLoading: false,
    };
  },
  mounted() {
    // console.log(this.inforMessage, "xinxixnixnixn");
    this.queryFun();
  },
  methods: {
    queryFun() {
      this.resDataLoading = true;
      this.searchInfo.sousuo = this.inforMessage.imei;
      getTerminal(this.searchInfo).then((res) => {
        if (res.data.status == 2) {
          this.resData.tableList = res.data.object;
          this.resData.total = res.data.total;
          this.resDataLoading = false;
        }
      });
    },
    handleCurrentChange(val) {
      this.searchInfo.pageNumber = val;
      this.queryFun();
    },
    searchFun(note, val) {
      const newHref = this.$router.resolve({
        path: "/searchDetails",
        query: { personId: note, sousuo: val },
      });
      window.open(newHref.href, "_blank");
    },
  },
};
</script>

<style lang="scss" scoped>
.warp {
  width: 100%;
  height: 100%;
  .mukuai_table {
    .searchColor {
      color: #1350ff;
      cursor: pointer;
    }
    .searchColor:hover {
      text-decoration: underline;
    }
  }
  .page_warp {
    padding: 10px 50px 0 0;
    text-align: right;
  }
}
</style>