<template>
  <div class="portal_contents">
    <div class="header_common_style">
      <div class="title_warp">
        <div class="title">某态势信息服务系统</div>
        <div class="loginInfo">
          <div class="imgTx"></div>
          <div class="xinxi">
            <p class="onep">赵京庆</p>
            <p class="twop">管理员</p>
          </div>
        </div>
      </div>
    </div>
    <div class="protal_box">
      <div class="left">
        <div
          v-for="(item, i) in portalList"
          :key="i"
          :class="isSelect == i ? 'tab_box yesSelect' : 'tab_box'"
          @click="selectRoute(item, i)"
        >
          <div :class="i == 0 ? 'tb_ryhx' : i == 1 ? 'tb_zstp' : 'tb_tsxx'">
            <div v-if="i == 0" class="img_ryhx"></div>
            <div v-if="i == 1" class="img_zstp"></div>
            <div v-if="i == 2" class="img_tsxx"></div>
            <div class="info">{{ item.name }}</div>
          </div>
        </div>
      </div>
      <div class="right">
        <!-- 第二路由出口 -->
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import { tokeninfo, oauth2token } from "@/api/index.js";
export default {
  name: "Home",
  components: {},
  data() {
    return {
      // 路由标题
      title: require("@/assets/portal_title.png"),
      // 功能列表
      portalList: [],
      // 是否选中
      isSelect: 0,
    };
  },
  mounted() {
    this.isLoginPush();
  },
  methods: {
    // 判断是否登录且跳出
    isLoginPush() {
      // let data = window.location.search.slice(1); // 解析url参数
      // let urlData = this.jxUrl(data);
      // if (!urlData.code) {
      //   // 不存在的话重新登陆
      //   this.$gf.checkLoginHref();
      //   return;
      // }
      // this.upDateUrl(); //根据code获取assess_token
      // oauth2token({
      //   grant_type: "authorization_code",
      //   code: urlData.code,
      //   client_id: "clientId",
      //   client_secret: "clientSecret",
      // }).then((res) => {
      //   sessionStorage.setItem("access_token", res.data.access_token);
      //   sessionStorage.setItem("userinfo_sub", res.data.userinfo_sub); //其他平台的跳转
      //   let qtPath = urlData.path.split("*")[0]; //自己平台跳转
      //   let thisPath = urlData.path.split("*")[1];
      //   this.$router.push(thisPath);
      //   if (qtPath != "undefined" && qtPath) {
      //     window.open(qtPath, "_blank");
      //   }
      this.portalList = [
        {
          name: "人员画像",
          path: "/portrait",
        },
        {
          name: "知识图谱",
          path: "/graph",
        },
        {
          name: "态势信息",
          path: "/situation",
        },
      ];
      let nowMeta = this.$route.meta.title;
      if (nowMeta == "人员画像") {
        this.isSelect = 0;
      }
      if (nowMeta == "知识图谱") {
        this.isSelect = 1;
      }
      if (nowMeta == "态势信息") {
        this.isSelect = 2;
      }
      // });
    },
    // 解析url
    jxUrl(params) {
      var paramsArr = params.split("&"); // 截取
      var res = {};
      for (var i = 0; i < paramsArr.length; i++) {
        var str = paramsArr[i].split("=");
        res[str[0]] = str[1];
      }
      return res;
    },
    // 修改地址栏
    upDateUrl() {
      let url = location.href;
      let i = url.indexOf("?");
      let newUrl = url.slice(0, i);
      history.replaceState(null, null, newUrl);
    },
    // 点击路由跳转
    selectRoute(val, idx) {
      if (val.name == "态势信息") {
        let routeUrl = this.$router.resolve({
          path: val.path,
        });
        window.open(routeUrl.href, "_blank");
      } else {
        this.isSelect = idx;
        this.$router.push(val.path);
      }
    },
    // 使用功能
    useFunction(data) {
      if (data.path) {
        const { href } = this.$router.resolve({
          path: data.path,
        });
        window.open(href, "_blank");
      } else {
        this.$message.warning("敬请期待！");
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.portal_contents {
  width: 100%;
  height: 100%;
  .header_common_style {
    height: 64px;
    background: url("~@/assets/home/circleIcon.png") no-repeat;
    background-size: cover;
    .title_warp {
      display: flex;
      justify-content: space-between;
      .title {
        color: #fff;
        font-size: 30px;
        line-height: 64px;
        padding-left: 80px;
      }
      .loginInfo {
        width: 157px;
        height: 64px;
        background: url("~@/assets/home/glyBj.png") no-repeat;
        background-size: cover;
        display: flex;
        .imgTx {
          width: 50px;
          height: 50px;
          background: url("~@/assets/home/avatar.png") no-repeat;
          background-size: cover;
          margin: 5px 10px 0 20px;
        }
        .xinxi {
          flex: 1;
          color: #fff;
          .onep {
            padding-top: 10px;
            font-size: 16px;
          }
          .twop {
            padding-top: 2px;
            opacity: 0.8;
            font-size: 14px;
          }
        }
      }
    }
  }
  .protal_box {
    height: calc(100% - 64px);
    display: flex;
    .left {
      width: 88px;
      height: 100%;
      background-color: #043b66;
      .tab_box {
        height: 82px;
        cursor: pointer;
        .tb_ryhx {
          padding-top: 15px;
        }
        .tb_zstp {
          padding-top: 10px;
        }
        .tb_tsxx {
          padding-top: 7px;
        }
        .img_ryhx {
          width: 36px;
          height: 23px;
          background: url("~@/assets/home/ryhx.png") no-repeat;
          background-size: cover;
          margin: 0 auto;
        }
        .img_zstp {
          width: 36px;
          height: 36px;
          background: url("~@/assets/home/zstp.png") no-repeat;
          background-size: cover;
          margin: 0 auto;
        }
        .img_tsxx {
          width: 40px;
          height: 38px;
          background: url("~@/assets/home/tsxx.png") no-repeat;
          background-size: cover;
          margin: 0 auto;
        }
        .info {
          padding-top: 10px;
          color: #fff;
          font-size: 16px;
          text-align: center;
        }
      }
      .tab_box:hover,
      .yesSelect {
        background: url("~@/assets/home/selectBj.png") no-repeat;
        background-size: cover;
      }
    }
    .right {
      flex: 1;
      height: 100%;
    }
  }
}
</style>
