<template>
  <div class="zstpWarp">
    <!-- 顶部搜索 -->
    <div class="sousuoWarp">
      <div class="ssTop">
        <div class="ssTitle">知识检索</div>
        <div class="ssKuang">
          <el-input
            placeholder="搜索实体关系"
            v-model="input3"
            class="input-with-select"
            clearable
          >
            <el-select v-model="select" slot="prepend" placeholder="请选择">
              <el-option label="餐厅名" value="1"></el-option>
              <el-option label="订单号" value="2"></el-option>
              <el-option label="用户电话" value="3"></el-option>
            </el-select>
            <el-button slot="append" icon="el-icon-search"></el-button>
          </el-input>
        </div>
        <div class="ssBtn">
          <el-button type="primary" icon="el-icon-share"
          @click="wbzsglFun"
            >关联文本知识</el-button
          >
        </div>
      </div>
    </div>
    <!-- 下部结果 -->
    <div class="jieguoWarp">
      <div class="jgTitle">知识图谱</div>
      <div class="jsZhanshiWarp">
        <div class="jszsTab">
          <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="词条式" name="1">
              <div style="height: 100%">
                <div
                  id="jsmind_container"
                  ref="jsmind_container"
                  class="mind-container"
                ></div>
              </div>
            </el-tab-pane>
            <el-tab-pane label="图形化" name="2">
              <div id="zstupu" class="tupuWarp"></div>
            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "jsmind/style/jsmind.css"; // 导入 jsMind 样式
import jsMind from "jsmind"; // 导入 jsMind 库
export default {
  data() {
    return {
      input3: "", //搜索输入框
      select: "", //搜索下拉框
      activeName: "1", //tab切换结果展示
      // 图谱
      nodesList: [
        {
          name: "操作系统集团",
          category: 0,
        },
        {
          name: "浏览器有限公司",
          category: 0,
        },
        {
          name: "HTML科技",
          category: 0,
        },
        {
          name: "JavaScript科技",
          category: 0,
        },
        {
          name: "CSS科技",
          category: 0,
        },
        {
          name: "Chrome",
          category: 1,
          gaojing: 0,
        },
        {
          name: "IE",
          category: 1,
          gaojing: 0,
        },
        {
          name: "Firefox",
          category: 1,
          gaojing: 1,
        },
        {
          name: "Safari",
          category: 1,
          gaojing: 0,
        },
      ],
      linksList: [
        {
          source: "浏览器有限公司",
          target: "操作系统集团",
          name: "参股",
        },
        {
          source: "HTML科技",
          target: "浏览器有限公司",
          name: "参股",
        },
        {
          source: "CSS科技",
          target: "浏览器有限公司",
          name: "参股",
        },
        {
          source: "JavaScript科技",
          target: "浏览器有限公司",
          name: "参股",
        },
        {
          source: "Chrome",
          target: "浏览器有限公司",
          name: "董事",
        },
        {
          source: "IE",
          target: "浏览器有限公司",
          name: "董事",
        },
        {
          source: "Firefox",
          target: "浏览器有限公司",
          name: "董事",
        },
        {
          source: "Safari",
          target: "浏览器有限公司",
          name: "董事",
        },
        {
          source: "Chrome",
          target: "JavaScript科技",
          name: "法人",
        },
      ],
      // jsmind
      jm: null,
      isDragging: false,
      startX: 0,
      startY: 0,
      scrollLeft: 0,
      scrollTop: 0,
      mindData: {
        meta: {
          name: "example",
          author: "hizzgdev@163.com",
          version: "0.2",
        },
        format: "node_array",
        data: [
          {
            id: "root",
            isroot: true,
            topic: "jsMind",
            "background-color": "#ffeb3b",
            "foreground-color": "#000000",
          },
          {
            id: "sub1",
            parentid: "root",
            topic: "sub node 1",
            "background-color": "#8bc34a",
            "foreground-color": "#ffffff",
          },
          {
            id: "sub2",
            parentid: "root",
            topic: "sub node 2",
            "background-color": "#03a9f4",
            "foreground-color": "#ffffff",
          },
          {
            id: "sub3",
            parentid: "root",
            topic: "sub node 3",
            "background-color": "#e91e60",
            "foreground-color": "#ffffff",
          },
        ],
      },
    };
  },
  mounted() {
    this.initJsmind();
  },
  methods: {
    // tab切换
    handleClick(tab, event) {
      if (this.activeName == "2") {
        this.$nextTick(() => {
          this.oneEcharts();
        });
      }
      if (this.activeName == "1") {
        this.$nextTick(() => {
          this.removeListenerFun();
          this.initJsmind();
        });
      }
    },
    // 文本知识关联跳转
    wbzsglFun(){
      this.$router.push('/wbzsgl');
    },
    // 图谱
    oneEcharts() {
      var myChart = this.$echarts.init(document.getElementById("zstupu"));
      let data = {
        nodes: this.nodesList,
        links: this.linksList,
      };

      const color1 = "#006acc";
      const color2 = "#ff7d18";
      const color3 = "#10a050";

      data.nodes.forEach((node) => {
        if (node.category === 0) {
          node.symbolSize = 100;
          node.itemStyle = {
            color: color1,
          };
        } else if (node.category === 1) {
          node.itemStyle = {
            color: color2,
          };
          if (node.gaojing === 1) {
            node.itemStyle = {
              color: "red",
            };
          }
        }
      });

      data.links.forEach((link) => {
        link.label = {
          align: "center",
          fontSize: 12,
        };

        if (link.name === "参股") {
          link.lineStyle = {
            color: color2,
          };
        } else if (link.name === "董事") {
          link.lineStyle = {
            color: color1,
          };
        } else if (link.name === "法人") {
          link.lineStyle = {
            color: color3,
          };
        }
      });
      //顶部列表展示
      let categories = [
        {
          name: "公司",
          itemStyle: {
            color: color1,
          },
        },
        {
          name: "董事",
          itemStyle: {
            color: color2,
          },
        },
      ];

      let option = {
        // title: {
        //   text: "知识图谱",
        // },
        // legend: [
        //   {
        //     // selectedMode: 'single',
        //     data: categories.map((x) => x.name),
        //     // icon: 'circle'
        //   },
        // ],
        series: [
          {
            type: "graph",
            layout: "force",
            symbolSize: 58,
            draggable: true,
            roam: true,
            focusNodeAdjacency: true,
            categories: categories,
            edgeSymbol: ["", "arrow"],
            // edgeSymbolSize: [80, 10],
            edgeLabel: {
              normal: {
                show: true,
                textStyle: {
                  fontSize: 20,
                },
                formatter(x) {
                  console.log(x.data.name, "909090");
                  return x.data.name;
                },
              },
            },
            label: {
              show: true,
            },
            force: {
              repulsion: 2000,
              edgeLength: 120,
            },
            data: data.nodes,
            links: data.links,
          },
        ],
      };
      console.log(option, "option");
      myChart.setOption(option);
      // 为树图添加节点点击事件
      myChart.on("click", this.treeNodeclick);
    },
    treeNodeclick(param) {
      console.log(param, "0000");
      if (param.name == "HTML科技") {
        this.nodesList = [
          {
            name: "操作系统集团",
            category: 0,
          },
          {
            name: "浏览器有限公司",
            category: 0,
          },
          {
            name: "HTML科技",
            category: 0,
          },
          {
            name: "JavaScript科技",
            category: 0,
          },
          {
            name: "CSS科技",
            category: 0,
          },
          {
            name: "Chrome",
            category: 1,
            gaojing: 0,
          },
          {
            name: "IE",
            category: 1,
            gaojing: 0,
          },
          {
            name: "Firefox",
            category: 1,
            gaojing: 1,
          },
          {
            name: "Safari",
            category: 1,
            gaojing: 0,
          },
          {
            name: "小Html-1",
            category: 1,
            gaojing: 0,
          },
          {
            name: "小Html-2",
            category: 1,
            gaojing: 0,
          },
        ];
        this.linksList = [
          {
            source: "浏览器有限公司",
            target: "操作系统集团",
            name: "参股",
          },
          {
            source: "HTML科技",
            target: "浏览器有限公司",
            name: "参股",
          },
          {
            source: "CSS科技",
            target: "浏览器有限公司",
            name: "参股",
          },
          {
            source: "JavaScript科技",
            target: "浏览器有限公司",
            name: "参股",
          },
          {
            source: "Chrome",
            target: "浏览器有限公司",
            name: "董事",
          },
          {
            source: "IE",
            target: "浏览器有限公司",
            name: "董事",
          },
          {
            source: "Firefox",
            target: "浏览器有限公司",
            name: "董事",
          },
          {
            source: "Safari",
            target: "浏览器有限公司",
            name: "董事",
          },
          {
            source: "Chrome",
            target: "JavaScript科技",
            name: "法人",
          },
          {
            source: "小Html-1",
            target: "HTML科技",
            name: "小弟",
          },
          {
            source: "小Html-2",
            target: "HTML科技",
            name: "小弟",
          },
        ];
        this.oneEcharts();
      }
      /* true 代表点击的是圆点
       fasle 表示点击的是当前节点的文本
    */
      // if (param.event.target.culling === true) {
      //   return;
      // } else if (param.event.target.culling === false) {
      //   let args = param.data; //当前节点及其子节点的值
      //   let level = param.data.level; //当前节点的层级 eg:"1-1-0",可以通过level判断当前的层级，从而进行不同的操作
      //   console.log(args, level);
      // }
    },
    // jsmind
    initJsmind() {
      const options = {
        container: this.$refs.jsmind_container,
        editable: false, // 禁用编辑功能
        theme: "primary",
        mode: "full",
      };
      this.jm = new jsMind(options);
      this.jm.show(this.mindData);

      // 添加事件监听器
      this.$refs.jsmind_container.addEventListener("wheel", this.handleWheel);
      this.$refs.jsmind_container.addEventListener(
        "mousedown",
        this.handleMouseDown
      );
      document.addEventListener("mousemove", this.handleMouseMove);
      document.addEventListener("mouseup", this.handleMouseUp);
    },
    handleWheel(event) {
      event.preventDefault();
      if (event.deltaY < 0) {
        this.jm.view.zoomIn();
      } else {
        this.jm.view.zoomOut();
      }
    },
    handleMouseDown(event) {
      if (event.button === 0) {
        // 左键点击
        this.isDragging = true;
        this.startX = event.clientX - this.$refs.jsmind_container.offsetLeft;
        this.startY = event.clientY - this.$refs.jsmind_container.offsetTop;
        this.scrollLeft = this.$refs.jsmind_container.scrollLeft;
        this.scrollTop = this.$refs.jsmind_container.scrollTop;
      }
    },
    handleMouseMove(event) {
      if (this.isDragging) {
        event.preventDefault();
        const x = event.clientX - this.startX;
        const y = event.clientY - this.startY;
        this.$refs.jsmind_container.scrollLeft = this.scrollLeft - x;
        this.$refs.jsmind_container.scrollTop = this.scrollTop - y;
      }
    },
    handleMouseUp() {
      this.isDragging = false;
    },
    removeListenerFun() {
      // 移除事件监听器
      this.$refs.jsmind_container.removeEventListener(
        "wheel",
        this.handleWheel
      );
      this.$refs.jsmind_container.removeEventListener(
        "mousedown",
        this.handleMouseDown
      );
      document.removeEventListener("mousemove", this.handleMouseMove);
      document.removeEventListener("mouseup", this.handleMouseUp);
    },
  },
  beforeDestroy() {
    this.removeListenerFun();
  },
};
</script>

<style lang="scss" scoped>
.zstpWarp {
  width: 1832px;
  height: 100%;
  background: url("~@/assets/zstp/zsjsBj.png") no-repeat;
  background-size: cover;
  .sousuoWarp {
    width: 1832px;
    height: 65px;
    background: url("~@/assets/zstp/zsssBj.png") no-repeat;
    background-size: cover;
    .ssTop {
      height: 100%;
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      .ssTitle {
        font-size: 18px;
        font-weight: bold;
        padding-top: 5px;
      }
      .ssKuang {
        width: 766px;
        /deep/.el-select .el-input {
          width: 130px;
        }
        /deep/.input-with-select .el-input-group__prepend {
          background-color: #fff;
        }
        /deep/.el-select .el-input .el-input__inner {
          color: #0287d1;
          font-weight: bold;
        }
        /deep/.el-input__inner {
          font-size: 18px;
        }
        /deep/.el-input-group__append,
        .el-input-group__prepend {
          background-color: #409eff;
          .el-icon-search {
            color: #fff;
            font-size: 18px;
          }
        }
      }
      .ssBtn {
        .el-button--primary {
          font-size: 16px;
        }
      }
    }
  }
  .jieguoWarp {
    height: calc(100% - 65px);
    .jgTitle {
      font-size: 20px;
      font-weight: bold;
      padding: 20px;
    }
    .jsZhanshiWarp {
      height: calc(100% - 67px);
      .jszsTab {
        height: 100%;
        padding: 0 20px;
        .el-tabs {
          height: 100%;
          /deep/ .el-tabs__content {
            height: calc(100% - 55px);
          }
          /deep/ .el-tab-pane {
            height: 100% !important;
          }
          /deep/ .el-tabs__item {
            font-size: 17px;
          }
          /deep/ .el-tabs__nav-wrap::after {
            background-color: transparent;
          }
        }
        .mind-container {
          width: 100%;
          height: 100%;
          // border: solid 1px #ccc;
          // overflow: auto; /* 使容器可滚动 */
          position: relative;
          cursor: grab; /* 提供视觉提示，表示可以拖动 */
        }

        .mind-container:active {
          cursor: grabbing; /* 拖动过程中改变光标样式 */
        }
        .tupuWarp {
          height: 100%;
        }
      }
    }
  }
}
</style>