<template>
  <div class="wbzsglWarp">
    <div class="wbzsglLeft">
      <div class="title">文本上传</div>
      <div class="searchWarp">
        <el-input
          placeholder="请输入文件名称"
          v-model="searchVal"
          class="input-with-select"
          clearable
        >
          <el-button slot="append" icon="el-icon-search"></el-button>
        </el-input>
      </div>
      <div class="wenjianWarp">
        <div
          :class="nowSelectWj == i ? 'wenjian nowbj' : 'wenjian'"
          v-for="(item, i) in 30"
          :key="i"
          @click="tabWenjianFun(item, i)"
        >
          <div v-if="i == 0" class="wjWord"></div>
          <div v-if="i == 1" class="wjPdf"></div>
          <div v-if="i == 2" class="wjTxt"></div>
          <div class="wjtitle">
            <p class="wjtit">这是一个文档名称.docx</p>
            <p class="wjdx">465.4KB</p>
          </div>
          <div class="wjtime">
            <p>2023-04-24</p>
            <i class="el-icon-delete"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="wbzsglRight">
      <div class="top">
        <div class="shangchuan"><i class="el-icon-upload2"></i>上传新文本</div>
      </div>
      <div class="bottom">
        <div class="wjName">
          <div class="wjWord"></div>
          <div class="titName">这是一个文档名称.docx</div>
        </div>
        <div class="contentWarp">
          <div class="content">
            汽车概述
            汽车，作为现代社会的重要交通工具，已经深刻地改变了人类的生活方式和城市面貌。从最早的蒸汽汽车到如今的电动和自动驾驶汽车，汽车工业经历了翻天覆地的变化。汽车不仅仅是一种交通工具，更是科技、经济、文化的重要载体。
            历史背景
            汽车的历史可以追溯到19世纪末，当时，德国工程师卡尔·奔驰发明了第一辆实用的内燃机汽车。这一突破奠定了现代汽车工业的基础。随后，亨利·福特通过流水线生产大幅降低了汽车的成本，使汽车成为大众消费品，彻底改变了社会的交通格局。
            汽车结构与分类 现代汽车通常由发动机、<span
              @click="chaxunFun('底盘')"
              >底盘</span
            >、车身和电气设备等主要部分组成。根据用途和结构的不同，汽车可以分为轿车、SUV、货车、客车等多种类型。轿车以其舒适性和操控性著称，适合城市和高速公路驾驶；SUV则因其强大的通过性和较高的视野，深受家庭用户和户外爱好者的喜爱；货车和客车则主要用于商业运输和公共交通。
            技术进步
            随着科技的进步，汽车技术也在不断发展。近年来，新能源汽车尤其是电动汽车成为了汽车工业的重要发展方向。特斯拉等品牌的成功推动了电动汽车的普及，带动了整个行业的技术革新。电动汽车以其零排放、低噪音和高效能等优点，逐渐被越来越多的消费者接受。
            与此同时，自动驾驶技术的研发也取得了显著进展。自动驾驶汽车利用传感器、人工智能和大数据技术，实现了车辆在复杂道路环境下的自动控制。这一技术的成熟，将进一步提升道路安全性和交通效率，彻底改变人类的出行方式。
            环保与可持续发展
            随着环保意识的增强，汽车工业也在向更加绿色和可持续的方向发展。传统内燃机汽车的排放问题一直是环境污染的重要来源，因此，发展低排放甚至零排放的新能源汽车成为了全球汽车工业的共识。各国政府也纷纷出台政策，支持新能源汽车的发展，并限制高污染车辆的使用。
            未来展望
            未来，汽车工业将继续朝着智能化、网联化和共享化的方向发展。智能汽车将更加注重人机交互，提供更加个性化和便捷的服务；车联网技术的应用，将实现车辆与道路基础设施、其他车辆和互联网的全面互联；共享汽车模式的普及，将进一步优化资源配置，减少交通拥堵和环境污染。
            综上所述，汽车作为现代社会不可或缺的重要工具，其技术进步和发展趋势将深刻影响人类的生活方式和社会发展。随着科技的不断进步，汽车将变得更加智能、高效和环保，为人类创造更加美好的出行体验。
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchVal: "",
      nowSelectWj: 0,
    };
  },
  methods: {
    tabWenjianFun(val, i) {
      this.nowSelectWj = i;
    },
    // 文本关键词查询
    chaxunFun(val) {
      console.log(val, "查询");
    },
  },
};
</script>

<style lang="scss" scoped>
.wbzsglWarp {
  width: 1832px;
  height: 100%;
  background: url("~@/assets/zstp/zsjsBj.png") no-repeat;
  background-size: cover;
  display: flex;
  .wbzsglLeft {
    width: 400px;
    height: 100%;
    box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.2);
    .title {
      line-height: 65px;
      font-size: 18px;
      font-weight: bold;
      padding: 0 20px;
    }
    .searchWarp {
      margin-bottom: 20px;
      padding: 0 20px;
      /deep/.el-select .el-input .el-input__inner {
        color: #0287d1;
        font-weight: bold;
      }
      /deep/.el-input__inner {
        font-size: 18px;
      }
      /deep/.el-input-group__append,
      .el-input-group__prepend {
        background-color: #409eff;
        .el-icon-search {
          color: #fff;
          font-size: 18px;
        }
      }
    }
    .wenjianWarp::-webkit-scrollbar {
      width: 0;
    }
    .wenjianWarp {
      height: calc(100% - 125px);
      overflow-y: auto;
      .wenjian {
        width: 384px;
        height: 72px;
        margin: 0 0 10px 8px;
        display: flex;
        .wjWord {
          width: 44px;
          height: 40px;
          background: url("~@/assets/zstp/word.png") no-repeat;
          background-size: cover;
          margin: 15px 10px 0 5px;
        }
        .wjPdf {
          width: 36px;
          height: 44px;
          background: url("~@/assets/zstp/pdf.png") no-repeat;
          background-size: cover;
          margin: 15px 10px 0 12px;
        }
        .wjTxt {
          width: 38px;
          height: 44px;
          background: url("~@/assets/zstp/txt.png") no-repeat;
          background-size: cover;
          margin: 15px 10px 0 13px;
        }
      }
      .wjtitle {
        width: 235px;
        padding: 15px 0;
        .wjtit {
          font-size: 16px;
        }
        .wjdx {
          padding-top: 5px;
          font-size: 14px;
          color: #424242;
        }
      }
      .wjtime {
        width: 100px;
        padding-top: 15px;
        .el-icon-delete {
          font-size: 20px;
          margin: 5px 0 0 70px;
          cursor: pointer;
          color: #999999;
        }
        .el-icon-delete:hover {
          color: red;
        }
      }
    }
    .nowbj,
    .wenjian:hover {
      background: url("~@/assets/zstp/wbzsglSele.png") no-repeat;
      background-size: cover;
    }
  }
  .wbzsglRight {
    width: 1432px;
    height: 100%;
    .top {
      height: 64px;
      border-bottom: 1px solid #fff;
      padding-top: 20px;
      .shangchuan {
        width: 120px;
        margin-left: 30px;
        font-size: 18px;
        cursor: pointer;
        .el-icon-upload2 {
          font-size: 22px;
          color: #0288d1;
          font-weight: bold;
          margin-right: 5px;
        }
      }
    }
    .bottom {
      height: calc(100% - 65px);
      .wjName {
        line-height: 60px;
        display: flex;
        .wjWord {
          width: 44px;
          height: 40px;
          background: url("~@/assets/zstp/word.png") no-repeat;
          background-size: cover;
          margin: 15px 10px 0 35px;
        }
        .titName {
          font-size: 20px;
          font-weight: bold;
          padding-top: 1px;
        }
      }
      .contentWarp::-webkit-scrollbar {
        width: 0;
      }
      .contentWarp {
        height: calc(100% - 60px);
        overflow-y: auto;
        padding: 10px 150px;
        .content {
          font-size: 22px; /* 字体大小 */
          line-height: 2; /* 行间距 */
          span {
            color: #0287d1;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
}
</style>