<template>
  <div class="taishi_warp">
    <div class="title_warp">
      <div class="title_wp"><img :src="title" alt="" /></div>
      <div class="time_warp">
        <div class="now_time">{{ nowTimeData }}</div>
      </div>
      <div class="gaojing_warp">
        <div class="now_gj">
          <div class="gj_title">
            <img :src="titleGj" alt="" />
          </div>
          <div class="gj_content">
            {{ jkList[nowContent].content }}
          </div>
          <div class="gj_time">{{ nowTimeData }}</div>
        </div>
      </div>
    </div>
    <div class="bottom_warp">
      <!-- 左 -->
      <div class="bot_left">
        <!-- 监控告警 -->
        <div class="jkGj_warp">
          <div class="msg_warp">
            <vue-seamless-scroll
              :data="jkList"
              class="seamless-warp"
              :class-option="classOptionJkgj"
            >
              <div class="msg_content" v-for="(item, i) in jkList" :key="i">
                <div class="msgimg">
                  <div class="msgIcon"></div>
                </div>
                <div class="msg_des">
                  <div class="msg_cont_top">
                    <div class="msg_cont_title">{{ item.name }}</div>
                    <div class="msg_cont_time">{{ item.time }}</div>
                  </div>
                  <div class="msg_cont_xq">{{ item.content }}</div>
                </div>
              </div>
            </vue-seamless-scroll>
          </div>
        </div>
        <!-- 事件脉络 -->
        <div class="sjml_warp">
          <div class="sjml" v-if="sjmlList.length > 0">
            <div class="sjml_top">
              <div
                :style="{
                  width: sjmlList.length * 110 + 'px',
                  marginLeft:
                    (nowSelectSjmlIdx > 0 ? nowSelectSjmlIdx - 1 : 0) * -110 +
                    'px',
                  transitionProperty: 'all',
                  transitionDuration: 0.3 + 's',
                }"
              >
                <div
                  :class="
                    nowSelectSjmlIdx == i ? 'qz_warp qz_warp_sele' : 'qz_warp'
                  "
                  v-for="(item, i) in sjmlList"
                  :key="i"
                  @click="selectSj(item, i)"
                >
                  <div class="qz_title">{{ item.title }}</div>
                  <div class="qzBt"></div>
                  <div class="tiao"></div>
                  <div class="qz_rq">{{ item.rq }}</div>
                  <div class="qz_nian">{{ item.nian }}</div>
                </div>
              </div>
            </div>
            <div class="sjml_bottom">
              <div class="sjml_bot">
                <span>时间：</span>{{ nowSelectSjml.shijian }}
              </div>
              <div class="sjml_bot">
                <span>位置：</span>{{ nowSelectSjml.weizhi }}
              </div>
              <div class="sjml_bot">
                <span>姓名：</span>{{ nowSelectSjml.xingming }}
              </div>
              <div class="sjml_bot_content">{{ nowSelectSjml.mingshu }}</div>
            </div>
          </div>
        </div>
        <!-- 人员档案 -->
        <div class="ryda_warp">
          <div class="ryda">
            <div class="ryda_left"></div>
            <div class="ryda_right">
              <div
                :class="
                  nowSelectSjml.level <= 3
                    ? 'ryda_right_top blue'
                    : nowSelectSjml.level > 3 && nowSelectSjml.level <= 6
                    ? 'ryda_right_top yellow'
                    : nowSelectSjml.level > 6
                    ? 'ryda_right_top red'
                    : 'ryda_right_top'
                "
              >
                {{ nowSelectSjml.level }}级人员
              </div>
              <div class="ryda_right_bot">
                <div class="rrb_tit">姓名</div>
                <div class="rrb_cont">{{ nowSelectSjml.xingming }}</div>
              </div>
              <div class="ryda_right_bot">
                <div class="rrb_tit">年龄</div>
                <div class="rrb_cont">{{ nowSelectSjml.age }}</div>
              </div>
              <div class="ryda_right_bot">
                <div class="rrb_tit">学历</div>
                <div class="rrb_cont">{{ nowSelectSjml.xueli }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 中 -->
      <div class="bot_center">
        <!-- 地图 -->
        <div class="ditu_warp">
          <div id="map"></div>
          <div class="gjszsl_warp">
            <div class="gjszsl_title">关键数值速览</div>
            <div class="gjszsl_bj">
              <div class="gj_bj_warp" v-for="(item, i) in gjshzlList" :key="i">
                <div class="shuzhi">{{ item.value }}<span>人</span></div>
                <div class="shijian">{{ item.name }}</div>
              </div>
            </div>
          </div>
        </div>
        <!-- 关联分析 -->
        <div class="glfx_warp">
          <div class="glfx">
            <div class="skjl">
              <div class="skjl_title">时空聚类</div>
              <div class="time_warp">
                <div class="wenzi">{{ zuoTimeData }} 至 {{ xianTimeData }}</div>
              </div>
              <div class="xinxi_warp">
                <div class="tit">{{ qYvalue }}</div>
                <div class="renyuan" style="height: 90px">
                  <div class="gdrenyuan">
                    <!-- <vue-seamless-scroll
                      :data="jkList"
                      class="seamless-warp ryScroll"
                      :class-option="classOptionJkgj"
                    > -->
                    <div v-for="(item, i) in mouQuSkjl" :key="i">
                      <span>{{
                        item.name.length > 4
                          ? item.name.slice(0, 3) + "..."
                          : item.name
                      }}</span>
                      <span
                        :class="
                          item.level <= 3
                            ? 'lan'
                            : item.level > 3 && item.level <= 6
                            ? 'huang'
                            : 'hong'
                        "
                        >({{ item.level }}级)</span
                      >
                    </div>
                    <!-- <div>粒子数<span class="hong">(危险)</span></div>
                    <div>粒子数<span class="hong">(危险)</span></div>
                    <div>粒子数<span class="huang">(6级)</span></div>
                    <div>粒子数<span class="huang">(6级)</span></div>
                    <div>粒子数<span class="huang">(6级)</span></div>
                    <div>粒子数<span class="lan">(重要)</span></div>
                    <div>粒子数<span class="lan">(重要)</span></div>
                    <div>粒子数<span class="lan">(重要)</span></div>
                    <div>粒子数<span class="hong">(危险)</span></div> -->
                    <!-- </vue-seamless-scroll> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="tltp">
              <div class="tltp_left">
                <div class="tltp_title">通联拓扑</div>
                <div class="tupuWarp">
                  <div id="zstupu" class="tupu"></div>
                </div>
              </div>
              <div class="tltp_right">
                <div class="right_warp">
                  <p>通联次数最多</p>
                  <div>{{ tonglian.cishu ? tonglian.cishu : "暂无" }}</div>
                </div>
                <div class="right_warp">
                  <p>最近一次联系人</p>
                  <div>{{ tonglian.zuijin ? tonglian.zuijin : "暂无" }}</div>
                </div>
                <div class="right_warp">
                  <p>关系密切</p>
                  <div>{{ tonglian.miqie ? tonglian.miqie : "暂无" }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 右 -->
      <div class="bot_right">
        <!-- 区域态势 -->
        <div class="qyts_warp">
          <div class="qyst">
            <div class="qyts_dx">
              <el-radio-group v-model="qyRadio" @change="selectRadio()">
                <el-radio :label="1">北京(首都)</el-radio>
                <el-radio :label="2">西藏</el-radio>
                <el-radio :label="3">新疆</el-radio>
                <el-radio :label="4">对台</el-radio>
              </el-radio-group>
            </div>
            <div class="qyts_xlk">
              <el-select v-model="qYvalue" size="small" placeholder="请选择">
                <el-option
                  v-for="item in qyOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                >
                </el-option>
              </el-select>
            </div>
            <div class="qyts_dfqb_warp">
              <div class="qyts_dfqb_titile">敌方情报</div>
              <div class="ryslbh_warp">
                <div class="ryslbh">
                  <div class="wenzi">人员数量变化</div>
                  <div class="kjsz">{{ dfqb.ryslbh }}</div>
                </div>
                <div class="xian"></div>
              </div>
              <div class="ryslbh_warp qtslbh">
                <div class="ryslbh">
                  <div class="wenzi">群体数量变化</div>
                  <div class="kjsz">{{ dfqb.qtslbh }}</div>
                </div>
                <div class="xian"></div>
              </div>
              <div class="ryslbh_warp sjslbh">
                <div class="ryslbh">
                  <div class="wenzi">事件数量变化</div>
                  <div class="kjsz">{{ dfqb.sjslbh }}</div>
                </div>
                <div class="xian"></div>
              </div>
            </div>
            <div class="qyts_wfqb_warp">
              <div class="qyts_wfqb_title">我方情报</div>
              <div class="wfqb_warp">
                <div class="wfqb">
                  <div class="wofq_icon"></div>
                  <div class="wofq_gzg">
                    <div>{{ wfqb.zcc.gzz }}</div>
                    <p>工作中</p>
                  </div>
                  <div class="wofq_wxz">
                    <div>{{ wfqb.zcc.wxz }}</div>
                    <p>维修中</p>
                  </div>
                  <div class="wofq_ygb">
                    <div>{{ wfqb.zcc.ygb }}</div>
                    <p>已关闭</p>
                  </div>
                </div>
                <div class="wfqb wfqbbj">
                  <div class="wofq_icon"></div>
                  <div class="wofq_gzg">
                    <div>{{ wfqb.jz.gzz }}</div>
                    <p>工作中</p>
                  </div>
                  <div class="wofq_wxz">
                    <div>{{ wfqb.jz.wxz }}</div>
                    <p>维修中</p>
                  </div>
                  <div class="wofq_ygb">
                    <div>{{ wfqb.jz.ygb }}</div>
                    <p>已关闭</p>
                  </div>
                </div>
                <div class="wfqb">
                  <div class="wofq_icon"></div>
                  <div class="wofq_gzg">
                    <div>{{ wfqb.sxt.gzz }}</div>
                    <p>工作中</p>
                  </div>
                  <div class="wofq_wxz">
                    <div>{{ wfqb.sxt.ygb }}</div>
                    <p>维修中</p>
                  </div>
                  <div class="wofq_ygb">
                    <div>{{ wfqb.sxt.ygb }}</div>
                    <p>已关闭</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 群体态势 -->
        <div class="qtts_warp">
          <div class="qtts">
            <!-- <vue-seamless-scroll
              :data="qttsList"
              class="seamless-warp"
              :class-option="classOptionQtts"
              v-show="!isShowQtxq"
            > -->
            <div class="qt_warp" v-show="!isShowQtxq">
              <div
                v-loading="qtxqLoading"
                element-loading-text="拼命加载中"
                element-loading-spinner="el-icon-loading"
                element-loading-background="rgba(0, 0, 0, 0.8)"
              >
                <div
                  :class="(i + 1) % 2 == 0 ? 'qt qtBj' : 'qt'"
                  v-for="(item, i) in qttsList"
                  :key="i"
                  @click="selectQt(item)"
                >
                  <div class="qt_left">
                    <div class="qi_left_top">
                      <div>{{ item.qtlb }}</div>
                      <div>{{ item.rysl }}</div>
                    </div>
                    <div class="qi_left_bottom">
                      <div>群体类别</div>
                      <div>人员数量</div>
                    </div>
                  </div>
                  <div class="qt_right">
                    <div class="qt_right_btn"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- </vue-seamless-scroll> -->
            <!-- 详情 -->
            <div class="qtxq_warp" v-show="isShowQtxq">
              <div class="qtxq_title">
                <div class="qtxq_goback" @click="qttsGoback()"></div>
                <div class="qtxq_tit">{{ nowSelectQtry.qtlb }}</div>
              </div>
              <div class="qtxq_ry">
                <div class="gd_warp">
                  <div
                    :class="
                      item.level <= 3
                        ? 'qtxq_ry_warp blue'
                        : item.level >= 4 && item.level <= 6
                        ? 'qtxq_ry_warp yellow'
                        : 'qtxq_ry_warp red'
                    "
                    v-for="(item, i) in qtryList"
                    :key="i"
                  >
                    <p style="margin: -2px 0 5px 0">{{ item.level }}级</p>
                    <p>{{ item.name }}</p>
                  </div>
                  <div
                    v-if="qtryList.length % 2 == 1"
                    class="qtxq_ry_warp_zj"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
  
  <script>
import vueSeamlessScroll from "vue-seamless-scroll";
import {
  ApiDataResourcealarm_search_all,
  ApiDataResourceevent_search_all,
  ApiDataResourceperson_searchByPhone,
  ApiDataResourcerelation_searchByPhoneCnt,
  ApiDataResourcerelation_searchByPhoneTime,
  ApiDataResourcerelation_searchAllByPhone,
  ApiDataResourcepersonLocation_searchAll,
  ApiDataResourcegroup_searchAll,
  ApiDataResourcegroup_searchById,
} from "@/api/index.js";
export default {
  components: { vueSeamlessScroll },
  data() {
    return {
      title: require("@/assets/taishiImg/title.png"),
      titleGj: require("@/assets/taishiImg/ssgj.png"),
      nowTimeData: "",
      xianTimeData: "",
      zuoTimeData: "",
      timeDsq: null, //定时器
      timeQytsDsq: null, //区域态势定时器
      timeSjml: null, //事脉络定时器
      timessgjDsq: null, //实时告警定时器
      mapDt: null, //地图
      // 监控告警
      jkList: [
        {
          name: "群体1",
          time: "2024-05-23 09:36:09",
          content: "聚众人数已经超过50人。",
        },
        {
          name: "群体2",
          time: "2024-05-23 09:36:09",
          content: "聚众人数已经超过50人。",
        },
        {
          name: "群体3",
          time: "2024-05-23 09:36:09",
          content:
            "聚众人数已经超过50人。聚众人数已经超过50人。聚众人数已经超过50人。",
        },
        {
          name: "群体4",
          time: "2024-05-23 09:36:09",
          content: "聚众人数已经超过50人。",
        },
        {
          name: "群体5",
          time: "2024-05-23 09:36:09",
          content: "聚众人数已经超过50人。",
        },
      ],
      nowContent: 0,
      classOptionJkgj: {
        step: 0.2,
      },
      //事件脉络
      sjmlList: [
        // {
        //   title: "信访",
        //   nian: "2024",
        //   rq: "01-02",
        //   shijian: "2024-04-05 13:12:09",
        //   weizhi: "北京",
        //   xingming: "张三",
        //   age: 33,
        //   xueli: "本科",
        //   mingshu:
        //     "啊萨达撒法的发大水发射点发射点发射点啊萨达撒法的发大水发射点发射点发射点啊萨达撒法的发大水发射点发射点发射点啊萨达撒法的发大水发射点发射点发射点啊萨达撒法的发大水发射点发射点发射点啊萨达撒法的发大水发射点发射点发射点",
        // },
        // {
        //   title: "奥运会",
        //   nian: "2024",
        //   rq: "01-02",
        //   shijian: "2024-04-05 13:12:09",
        //   weizhi: "新疆",
        //   xingming: "李四",
        //   age: 43,
        //   xueli: "大专",
        //   mingshu: "超级无敌安芸慧",
        // },
        // {
        //   title: "信访信访信访信访信访信访",
        //   nian: "2024",
        //   rq: "01-02",
        //   shijian: "2024-04-05 13:12:09",
        //   weizhi: "河北",
        //   xingming: "王五",
        //   age: 67,
        //   xueli: "硕士",
        //   mingshu: "这是超爱睡觉拉发",
        // },
      ],
      nowSelectSjml: {},
      nowSelectSjmlIdx: -1,
      //某区域人
      perBlue: require("@/assets/taishiImg/perBlue.png"),
      perYellow: require("@/assets/taishiImg/perYellow.png"),
      perRed: require("@/assets/taishiImg/perRed.png"),
      mouQuSkjlbzListDt: [], //插入标注点地图信息
      mouQuSkjl: [
        {
          latitude: "39.9041",
          level: "4",
          longitude: "116.3074",
          name: "李四",
        },
        {
          latitude: "39.9175",
          level: "1",
          longitude: "116.3106",
          name: "王波",
        },
        {
          latitude: "39.9700",
          level: "5",
          longitude: "116.3138",
          name: "张亮",
        },
        {
          latitude: "39.9523",
          level: "2",
          longitude: "116.3170",
          name: "刘霞",
        },
        {
          latitude: "40.0297",
          level: "9",
          longitude: "116.1202",
          name: "王思聪",
        },
        {
          latitude: "39.9981",
          level: "1",
          longitude: "116.3334",
          name: "李鹏",
        },
        {
          latitude: "40.0015",
          level: "1",
          longitude: "116.1966",
          name: "王晓丽",
        },
        {
          latitude: "40.0041",
          level: "2",
          longitude: "116.3198",
          name: "李娜",
        },
        {
          latitude: "40.0074",
          level: "3",
          longitude: "116.2330",
          name: "李继红",
        },
        {
          latitude: "40.0100",
          level: "4",
          longitude: "116.2862",
          name: "刘伟",
        },
      ],
      // 通联图谱
      nodesList: [
        {
          name: "操作系统集团",
          category: 0,
        },
        {
          name: "浏览器有限公司",
          category: 0,
        },
        {
          name: "HTML科技",
          category: 0,
        },
        {
          name: "JavaScript科技",
          category: 0,
        },
        {
          name: "CSS科技",
          category: 0,
        },
        {
          name: "Chrome",
          category: 1,
          gaojing: 0,
        },
        {
          name: "IE",
          category: 1,
          gaojing: 0,
        },
        {
          name: "Firefox",
          category: 1,
          gaojing: 1,
        },
        {
          name: "Safari",
          category: 1,
          gaojing: 0,
        },
      ],
      linksList: [
        {
          source: "浏览器有限公司",
          target: "操作系统集团",
          name: "参股",
        },
        {
          source: "HTML科技",
          target: "浏览器有限公司",
          name: "参股",
        },
        {
          source: "CSS科技",
          target: "浏览器有限公司",
          name: "参股",
        },
        {
          source: "JavaScript科技",
          target: "浏览器有限公司",
          name: "参股",
        },
        {
          source: "Chrome",
          target: "浏览器有限公司",
          name: "董事",
        },
        {
          source: "IE",
          target: "浏览器有限公司",
          name: "董事",
        },
        {
          source: "Firefox",
          target: "浏览器有限公司",
          name: "董事",
        },
        {
          source: "Safari",
          target: "浏览器有限公司",
          name: "董事",
        },
        {
          source: "Chrome",
          target: "JavaScript科技",
          name: "法人",
        },
      ],
      tonglian: {
        cishu: "",
        zuijin: "",
        miqie: "",
      },
      // 群体态势
      qttsList: [
        // {
        //   qtlb: "聚众群体",
        //   rysl: 5,
        // },
        // {
        //   qtlb: "危险人员群体",
        //   rysl: 45,
        // },
        // {
        //   qtlb: "其他类别群体",
        //   rysl: 18,
        // },
        // {
        //   qtlb: "重要人员群体",
        //   rysl: 9,
        // },
        // {
        //   qtlb: "涉恐涉爆群体",
        //   rysl: 78,
        // },
        // {
        //   qtlb: "信访群体",
        //   rysl: 2,
        // },
        // {
        //   qtlb: "重要人员群体",
        //   rysl: 9,
        // },
        // {
        //   qtlb: "涉恐涉爆群体",
        //   rysl: 78,
        // },
        // {
        //   qtlb: "信访群体",
        //   rysl: 2,
        // },
      ],
      isShowQtxq: false,
      classOptionQtts: {
        step: 0.2,
      },

      nowSelectQtry: {},
      qtxqLoading: false,
      qtryList: [
        // { name: "张三", level: 9 },
        // { name: "李四", level: 8 },
        // { name: "王五", level: 7 },
        // { name: "类库", level: 6 },
        // { name: "阿斯顿的", level: 5 },
        // { name: "阿哥", level: 4 },
        // { name: "分歧让", level: 3 },
        // { name: "艾萨拉", level: 2 },
        // { name: "字符换", level: 1 },
        // { name: "张三", level: 9 },
        // { name: "李四", level: 8 },
        // { name: "王五", level: 7 },
        // { name: "类库", level: 6 },
        // { name: "阿斯顿的", level: 5 },
      ],
      qttsbzListDt: [], //插入标注点地图信息
      polygonQtts: null,
      // 区域态势
      qyRadio: 1,
      qyOptions: [
        {
          value: "海淀区",
          label: "海淀区",
        },
      ],
      polygonQyts: null,
      qYvalue: "海淀区",
      dfqb: {
        ryslbh: 23548,
        qtslbh: 78,
        sjslbh: 3226,
      },
      wfqb: {
        zcc: { gzz: 1487, wxz: 239, ygb: 664 },
        jz: { gzz: 391, wxz: 307, ygb: 112 },
        sxt: { gzz: 374, wxz: 91, ygb: 23 },
      },
      // 关键数值速览
      gjshzlList: [
        {
          name: "重要人员",
          value: 3,
        },
        {
          name: "危险人员",
          value: 0,
        },
        {
          name: "恶劣事件",
          value: 5,
        },
        {
          name: "热点区域",
          value: 6,
        },
        {
          name: "群体行动",
          value: 2,
        },
      ],
    };
  },
  created() {
    this.nowTimeData = this.$gf.formatDate(new Date());
    this.xianTimeData = this.$gf.formatDate(new Date());
    this.zuoTimeData = this.$gf.formatDate(new Date() - 24 * 60 * 60 * 1000);
  },
  mounted() {
    this.craetMap(); //初始化地图
    this.timeDsq = setInterval(() => {
      this.nowTimeData = this.$gf.formatDate(new Date());
    }, 1000);
    // 区域态势定时器数据
    this.timeQytsDsqFun();
    // -----------------------------------
    this.jkgjFun();
    this.shmlFun();
    this.qttsFun();
  },
  methods: {
    // 监控告警
    jkgjFun() {
      ApiDataResourcealarm_search_all().then((res) => {
        if (res.data.resultCode == 200) {
          // this.jkList = res.data.details.rows;
          if (res.data.details.rows.length > 0) {
            this.jkList = [];
            res.data.details.rows.forEach((element) => {
              this.jkList.push({
                name: element["tlimit.alarm_type"],
                time: element["tlimit.alarm_time"],
                content: element["tlimit.description"],
              });
            });
            // 开启实时告警定时器
            this.nowContent = Math.floor(Math.random() * this.jkList.length);
            this.timessgjDsq = setInterval(() => {
              this.nowContent = Math.floor(Math.random() * this.jkList.length);
            }, 13000);
          }
        }
      });
    },
    // 事件脉络
    shmlFun() {
      ApiDataResourceevent_search_all().then((res) => {
        if (res.data.resultCode == 200) {
          if (res.data.details.rows.length > 0) {
            this.sjmlList = [];
            res.data.details.rows.forEach((element) => {
              this.sjmlList.push({
                title: element["tlimit.event_name"],
                shijian: element["tlimit.dt"],
                mingshu: element["tlimit.event_description"],
                weizhi: element["tlimit.event_location"],
                xingming: element["tlimit.event_person"],
                phone: element["tlimit.event_phone"],
                nian: element["tlimit.dt"].split("-")[0],
                rq:
                  element["tlimit.dt"].split("-")[1] +
                  "-" +
                  element["tlimit.dt"].split("-")[2],
              });
            });
            this.selectSj(this.sjmlList[0], 0);
            this.startSjmlDsq(30000); //事件脉络定时器
          }
        }
      });
    },
    // 初始化地图
    craetMap() {
      BM.Config.HTTP_URL = "http://www.bigemap.com:9000";
      // 在ID为map的元素中实例化一个地图，不要设置地图ID，ID号程序自动生成，无需手动配置，设置中心点，默认的级别和显示级别控件
      this.mapDt = BM.map("map", "bigemap.amap-map", {
        center: [30, 104],
        zoom: 5,
        zoomControl: true, //级别控制
        // preferCanvas: false, //优先使用canvas绘制覆盖物
        // keyboard: true, //键盘操作
        // scrollWheelZoom: true, //鼠标滚轮放大
        // doubleClickZoom: false, //双击放大
        // dragging: false, //启动拖动
        attributionControl: false, //不添加对应的版本信息
      });
      this.craetDbx();
    },
    // 画多边形(区域地址)
    craetDbx() {
      var testJson = null;
      var cengji = 11;
      if (this.qyRadio == 1) {
        testJson = require("./beijing_haidian.json");
        cengji = 11;
      } else if (this.qyRadio == 2) {
        testJson = require("./xizang_lasa.json");
        cengji = 8;
      } else if (this.qyRadio == 3) {
        testJson = require("./xinjiang_wulumuqi.json");
        cengji = 8;
      } else if (this.qyRadio == 4) {
        testJson = require("./taiwan.json");
        cengji = 8;
      }
      const haidianJson = testJson.features[0].geometry.coordinates[0][0];
      let latlngs = [];
      // 位置调换
      haidianJson.forEach((element) => {
        latlngs.push([element[1], element[0]]);
      });
      //创建多边形，并设置填充颜色为红色 ，具体详细API请参见：http://www.bigemap.com/offlinemaps/api/#polygon
      this.polygonQyts = BM.polygon(latlngs, { color: "red" }).addTo(
        this.mapDt
      );
      // 让地图适配当前的线段
      this.mapDt.fitBounds(this.polygonQyts.getBounds());
      // this.polygonQyts.on("click", function (e) {
      //   alert("我被点击了!");
      // });
      // 将地图移动到区域中心点位置
      this.mapDt.flyTo(
        BM.latLng(
          testJson.features[0].properties.center[1],
          testJson.features[0].properties.center[0]
        ),
        cengji,
        { animate: true, duration: 1 }
      );
      // 插入人员位置（先清除）
      if (this.mouQuSkjlbzListDt.length > 0) {
        this.mouQuSkjlbzListDt.forEach((element) => {
          element.remove();
        });
      }
      var icon = null;
      this.mouQuSkjl.forEach((element) => {
        if (element.level <= 3) {
          icon = this.perBlue;
        }
        if (element.level > 3 && element.level <= 6) {
          icon = this.perYellow;
        }
        if (element.level > 6) {
          icon = this.perRed;
        }
        this.bjPointFun(
          this.mouQuSkjlbzListDt,
          [element.latitude, element.longitude],
          element.name,
          true,
          icon
        );
      });
    },
    // 标记点位  要存储轨迹点的list集合，轨迹点坐标，展示的信息,是否鼠标划入展示
    bjPointFun(biaoZhuList, zuiBiao, info, isHover, iconVal) {
      biaoZhuList.push(
        BM.marker(zuiBiao, {
          icon: BM.icon({
            iconUrl: iconVal,
            iconAnchor: [20, 44],
          }),
        }).addTo(this.mapDt)
      );
      //   let cn = BM.marker(zuiBiao).addTo(this.mapDt);
      let guiJiPointlength = biaoZhuList.length - 1;
      biaoZhuList[guiJiPointlength]
        .bindTooltip(`<div>${info}<div>`, {
          direction: "bottom",
          permanent: isHover,
          className: "my_tooltip",
        })
        .openTooltip();
    },
    // 选择区域态势
    selectRadio() {
      if (this.timeQytsDsq) {
        clearInterval(this.timeQytsDsq);
      }
      // 插入人员位置（先清除）
      if (this.qttsbzListDt.length > 0) {
        this.qttsbzListDt.forEach((element) => {
          element.remove();
        });
      }
      if (this.polygonQtts) {
        this.polygonQtts.remove(); //取消群体多边形
      }
      this.changeCreatDbx();
      this.timeQytsDsqFun();
    },
    // 区域态势定时器
    timeQytsDsqFun() {
      this.timeQytsDsq = setInterval(() => {
        this.qyRadio++;
        if (this.qyRadio > 4) {
          this.qyRadio = 1;
        }
        this.changeCreatDbx();
      }, 50000);
    },
    changeCreatDbx() {
      if (this.qyRadio == 1) {
        this.qyOptions = [];
        this.qyOptions.push({
          value: "海淀区",
          label: "海淀区",
        });
        this.mouQuSkjl = [];
        this.mouQuSkjl.push(
          {
            latitude: "39.9041",
            level: "4",
            longitude: "116.3074",
            name: "李四",
          },
          {
            latitude: "39.9175",
            level: "1",
            longitude: "116.3106",
            name: "王波",
          },
          {
            latitude: "39.9700",
            level: "5",
            longitude: "116.3138",
            name: "张亮",
          },
          {
            latitude: "39.9523",
            level: "2",
            longitude: "116.3170",
            name: "刘霞",
          },
          {
            latitude: "40.0297",
            level: "9",
            longitude: "116.1202",
            name: "王思聪",
          },
          {
            latitude: "39.9981",
            level: "1",
            longitude: "116.3334",
            name: "李鹏",
          },
          {
            latitude: "40.0015",
            level: "1",
            longitude: "116.1966",
            name: "王晓丽",
          },
          {
            latitude: "40.0041",
            level: "2",
            longitude: "116.3198",
            name: "李娜",
          },
          {
            latitude: "40.0074",
            level: "3",
            longitude: "116.2330",
            name: "李继红",
          },
          {
            latitude: "40.0100",
            level: "4",
            longitude: "116.2862",
            name: "刘伟",
          }
        );
        this.qYvalue = "海淀区";
        this.dfqb = {
          ryslbh: 23548,
          qtslbh: 78,
          sjslbh: 3226,
        };
        this.wfqb = {
          zcc: { gzz: 1487, wxz: 239, ygb: 664 },
          jz: { gzz: 391, wxz: 307, ygb: 112 },
          sxt: { gzz: 374, wxz: 91, ygb: 23 },
        };
        this.gjshzlList = [
          {
            name: "重要人员",
            value: 3,
          },
          {
            name: "危险人员",
            value: 0,
          },
          {
            name: "恶劣事件",
            value: 5,
          },
          {
            name: "热点区域",
            value: 6,
          },
          {
            name: "群体行动",
            value: 2,
          },
        ];
      } else if (this.qyRadio == 2) {
        this.qyOptions = [];
        this.qyOptions.push({
          value: "拉萨市",
          label: "拉萨市",
        });
        this.mouQuSkjl = [];
        this.mouQuSkjl.push(
          {
            latitude: "30.6425",
            level: "7",
            longitude: "91.1203",
            name: "次仁旺堆",
          },
          {
            latitude: "29.9652",
            level: "4",
            longitude: "90.1176",
            name: "拉姆措",
          },
          {
            latitude: "30.1980",
            level: "5",
            longitude: "91.1351",
            name: "多吉彭措",
          },
          {
            latitude: "30.6115",
            level: "2",
            longitude: "91.6224",
            name: "佩玛卓嘎",
          },
          {
            latitude: "29.6541",
            level: "9",
            longitude: "91.6298",
            name: "索朗次仁",
          },
          {
            latitude: "29.6770",
            level: "3",
            longitude: "91.5212",
            name: "达瓦塔西",
          },
          {
            latitude: "29.9602",
            level: "1",
            longitude: "91.1247",
            name: "格桑拉姆",
          },
          {
            latitude: "29.6734",
            level: "9",
            longitude: "90.1221",
            name: "丹增南杰",
          },
          {
            latitude: "29.8760",
            level: "3",
            longitude: "90.3595",
            name: "琼登白姆",
          },
          {
            latitude: "29.6588",
            level: "4",
            longitude: "90.7470",
            name: "晋美诺布",
          }
        );
        this.qYvalue = "拉萨市";
        this.dfqb = {
          ryslbh: 4548,
          qtslbh: 509,
          sjslbh: 4841,
        };
        this.wfqb = {
          zcc: { gzz: 2187, wxz: 129, ygb: 252 },
          jz: { gzz: 131, wxz: 465, ygb: 245 },
          sxt: { gzz: 454, wxz: 142, ygb: 573 },
        };
        this.gjshzlList = [
          {
            name: "重要人员",
            value: 3,
          },
          {
            name: "危险人员",
            value: 3,
          },
          {
            name: "恶劣事件",
            value: 9,
          },
          {
            name: "热点区域",
            value: 5,
          },
          {
            name: "群体行动",
            value: 14,
          },
        ];
      } else if (this.qyRadio == 3) {
        this.qyOptions = [];
        this.qyOptions.push({
          value: "乌鲁木齐市",
          label: "乌鲁木齐市",
        });
        this.mouQuSkjl = [];
        this.mouQuSkjl.push(
          {
            latitude: "43.4256",
            level: "6",
            longitude: "86.9968",
            name: "阿布都克里木·阿不都拉",
          },
          {
            latitude: "43.7289",
            level: "4",
            longitude: "87.7293",
            name: "买买提江·吾买尔",
          },
          {
            latitude: "43.8323",
            level: "8",
            longitude: "87.4219",
            name: "吐尔逊·艾山",
          },
          {
            latitude: "43.8156",
            level: "2",
            longitude: "87.6494",
            name: "古丽加汗·尼亚孜",
          },
          {
            latitude: "44.8089",
            level: "5",
            longitude: "87.6270",
            name: "阿依努尔·阿不都热合曼",
          },
          {
            latitude: "44.1023",
            level: "7",
            longitude: "87.8195",
            name: "哈斯木江·买买提",
          },
          {
            latitude: "43.4456",
            level: "1",
            longitude: "87.6421",
            name: "麦合木提·买买提明",
          },
          {
            latitude: "43.6489",
            level: "2",
            longitude: "88.4346",
            name: "努尔比亚·阿布力米提",
          },
          {
            latitude: "43.5523",
            level: "9",
            longitude: "88.1372",
            name: "热依汗·库尔班",
          },
          {
            latitude: "43.4556",
            level: "4",
            longitude: "88.6497",
            name: "依明江·吐尔逊",
          }
        );
        this.qYvalue = "乌鲁木齐市";
        this.dfqb = {
          ryslbh: 36084,
          qtslbh: 257,
          sjslbh: 846,
        };
        this.wfqb = {
          zcc: { gzz: 23696, wxz: 3462, ygb: 385 },
          jz: { gzz: 522, wxz: 355, ygb: 395 },
          sxt: { gzz: 3751, wxz: 256, ygb: 573 },
        };
        this.gjshzlList = [
          {
            name: "重要人员",
            value: 4,
          },
          {
            name: "危险人员",
            value: 3,
          },
          {
            name: "恶劣事件",
            value: 18,
          },
          {
            name: "热点区域",
            value: 10,
          },
          {
            name: "群体行动",
            value: 19,
          },
        ];
      } else if (this.qyRadio == 4) {
        this.qyOptions = [];
        this.qyOptions.push({
          value: "台湾省",
          label: "台湾省",
        });
        this.mouQuSkjl = [];
        this.mouQuSkjl.push(
          {
            latitude: "25.0330",
            level: "7",
            longitude: "121.5654",
            name: "陈建宏",
          },
          {
            latitude: "24.1477",
            level: "1",
            longitude: "120.6736",
            name: "李佳颖",
          },
          {
            latitude: "23.6978",
            level: "5",
            longitude: "120.9605",
            name: "王志强",
          },
          {
            latitude: "22.6273",
            level: "9",
            longitude: "120.3014",
            name: "张淑芬",
          },
          {
            latitude: "24.9947",
            level: "6",
            longitude: "121.3000",
            name: "林志玲",
          },
          {
            latitude: "24.8066",
            level: "1",
            longitude: "120.9686",
            name: "许文杰",
          },
          {
            latitude: "23.7569",
            level: "8",
            longitude: "121.0868",
            name: "杨宗翰",
          },
          {
            latitude: "22.9986",
            level: "4",
            longitude: "120.2126",
            name: "吴依琳",
          },
          {
            latitude: "24.8138",
            level: "3",
            longitude: "121.0182",
            name: "邱俊雄",
          },
          {
            latitude: "23.9739",
            level: "4",
            longitude: "120.9820",
            name: "郭晓婷",
          }
        );
        this.qYvalue = "台湾省";
        this.dfqb = {
          ryslbh: 68147,
          qtslbh: 432,
          sjslbh: 562,
        };
        this.wfqb = {
          zcc: { gzz: 1325, wxz: 914, ygb: 385 },
          jz: { gzz: 675, wxz: 523, ygb: 395 },
          sxt: { gzz: 23, wxz: 5239, ygb: 573 },
        };
        this.gjshzlList = [
          {
            name: "重要人员",
            value: 4,
          },
          {
            name: "危险人员",
            value: 3,
          },
          {
            name: "恶劣事件",
            value: 11,
          },
          {
            name: "热点区域",
            value: 6,
          },
          {
            name: "群体行动",
            value: 9,
          },
        ];
      }
      this.polygonQyts.remove(); //取消多变形
      this.craetDbx();
    },
    // 时间脉络定时器
    startSjmlDsq(val) {
      this.timeSjml = setInterval(() => {
        if (this.nowSelectSjmlIdx < this.sjmlList.length - 1) {
          this.selectSj(
            this.sjmlList[this.nowSelectSjmlIdx + 1],
            this.nowSelectSjmlIdx + 1
          );
        } else {
          this.selectSj(this.sjmlList[0], 0);
        }
      }, val);
    },
    // 点击事件脉络
    selectSj(val, idx) {
      // this.nowSelectSjml = {
      //   title: val.title,
      //   shijian: val.shijian,
      //   mingshu: val.mingshu,
      //   weizhi: val.weizhi,
      //   xingming: val.xingming,
      //   phone: val.phone,
      //   nian: val.nian,
      //   rq: val.rq,
      //   age: val.age,
      //   xueli: val.xueli,
      //   level: val.level,
      // };
      this.nowSelectSjml = val;
      this.nowSelectSjmlIdx = idx;
      this.rydaFun();
      this.tlcszdFun();
      this.zjyclxrFun();
      this.tltpFun();
      if (this.timeSjml) {
        clearInterval(this.timeSjml);
        this.startSjmlDsq(30000);
      }
    },
    // 人员档案
    rydaFun() {
      ApiDataResourceperson_searchByPhone({
        dataServiceParams: {
          phone: this.nowSelectSjml.phone,
        },
        isTest: "1",
        userType: "user",
      }).then((res) => {
        if (res.data.resultCode == 200) {
          if (res.data.details.rows.length > 0) {
            this.nowSelectSjml.xingming = res.data.details.rows[0].name;
            this.nowSelectSjml.age = res.data.details.rows[0].age;
            this.nowSelectSjml.xueli = res.data.details.rows[0].edu_background;
            this.nowSelectSjml.level = res.data.details.rows[0].level;
          }
        }
      });
    },
    // 通联次数最多/关系密切
    tlcszdFun() {
      ApiDataResourcerelation_searchByPhoneCnt({
        dataServiceParams: {
          phone: this.nowSelectSjml.phone,
        },
        isTest: "1",
        userType: "user",
      }).then((res) => {
        if (res.data.resultCode == 200) {
          if (res.data.details.rows.length > 0) {
            this.tonglian.cishu = res.data.details.rows[0].name;
            this.tonglian.miqie = res.data.details.rows[0].name;
          }
        }
      });
    },
    // 图谱
    tltpFun() {
      ApiDataResourcerelation_searchAllByPhone({
        dataServiceParams: {
          phone: this.nowSelectSjml.phone,
        },
        isTest: "1",
        userType: "user",
      }).then((res) => {
        if (res.data.resultCode == 200) {
          if (res.data.details.rows.length > 0) {
            this.nodesList = [];
            this.linksList = [];
            this.nodesList.push({
              name: this.nowSelectSjml.xingming,
              category: 0,
            });
            res.data.details.rows.forEach((element) => {
              this.nodesList.push({
                name: element.name,
                category: 1,
              });
              this.linksList.push({
                target: element.name,
                source: this.nowSelectSjml.xingming,
                name: "朋友",
              });
            });
            // console.log(this.nodesList, "nodesList");
            // console.log(this.linksList, "linksList");
            this.oneEcharts(); //通联图谱
          }
        }
      });
    },
    // 最近一次联系人
    zjyclxrFun() {
      ApiDataResourcerelation_searchByPhoneTime({
        dataServiceParams: {
          phone: this.nowSelectSjml.phone,
        },
        isTest: "1",
        userType: "user",
      }).then((res) => {
        if (res.data.resultCode == 200) {
          if (res.data.details.rows.length > 0) {
            this.tonglian.zuijin = res.data.details.rows[0].name;
          }
        }
      });
    },
    // 通联图谱
    oneEcharts() {
      var myChart = this.$echarts.init(document.getElementById("zstupu"));
      let data = {
        nodes: this.nodesList,
        links: this.linksList,
      };

      const color1 = "#006acc";
      const color2 = "#ff7d18";
      const color3 = "#10a050";

      data.nodes.forEach((node) => {
        if (node.category === 0) {
          node.symbolSize = 100;
          node.itemStyle = {
            color: color1,
          };
        } else if (node.category === 1) {
          node.itemStyle = {
            color: color2,
          };
          if (node.gaojing === 1) {
            node.itemStyle = {
              color: "red",
            };
          }
        }
      });

      data.links.forEach((link) => {
        link.label = {
          align: "center",
          fontSize: 12,
        };

        if (link.name === "参股") {
          link.lineStyle = {
            color: color2,
          };
        } else if (link.name === "董事") {
          link.lineStyle = {
            color: color1,
          };
        } else if (link.name === "法人") {
          link.lineStyle = {
            color: color3,
          };
        }
      });
      //顶部列表展示
      let categories = [
        {
          name: "公司",
          itemStyle: {
            color: color1,
          },
        },
        {
          name: "董事",
          itemStyle: {
            color: color2,
          },
        },
      ];

      let option = {
        // title: {
        //   text: "知识图谱",
        // },
        // legend: [
        //   {
        //     // selectedMode: 'single',
        //     data: categories.map((x) => x.name),
        //     // icon: 'circle'
        //   },
        // ],
        series: [
          {
            type: "graph",
            layout: "force",
            symbolSize: 58,
            draggable: true,
            roam: true,
            focusNodeAdjacency: true,
            categories: categories,
            edgeSymbol: ["", "arrow"],
            // edgeSymbolSize: [80, 10],
            edgeLabel: {
              normal: {
                show: true,
                textStyle: {
                  fontSize: 20,
                },
                formatter(x) {
                  // console.log(x.data.name, "909090");
                  return x.data.name;
                },
              },
            },
            label: {
              show: true,
            },
            force: {
              repulsion: 2000,
              edgeLength: 120,
            },
            data: data.nodes,
            links: data.links,
          },
        ],
      };
      // console.log(option, "option");
      myChart.setOption(option);
      // 为树图添加节点点击事件
      // myChart.on("click", this.treeNodeclick);
    },
    treeNodeclick(param) {
      console.log(param, "0000");
      if (param.name == "HTML科技") {
        this.nodesList = [
          {
            name: "操作系统集团",
            category: 0,
          },
          {
            name: "浏览器有限公司",
            category: 0,
          },
          {
            name: "HTML科技",
            category: 0,
          },
          {
            name: "JavaScript科技",
            category: 0,
          },
          {
            name: "CSS科技",
            category: 0,
          },
          {
            name: "Chrome",
            category: 1,
            gaojing: 0,
          },
          {
            name: "IE",
            category: 1,
            gaojing: 0,
          },
          {
            name: "Firefox",
            category: 1,
            gaojing: 1,
          },
          {
            name: "Safari",
            category: 1,
            gaojing: 0,
          },
          {
            name: "小Html-1",
            category: 1,
            gaojing: 0,
          },
          {
            name: "小Html-2",
            category: 1,
            gaojing: 0,
          },
        ];
        this.linksList = [
          {
            source: "浏览器有限公司",
            target: "操作系统集团",
            name: "参股",
          },
          {
            source: "HTML科技",
            target: "浏览器有限公司",
            name: "参股",
          },
          {
            source: "CSS科技",
            target: "浏览器有限公司",
            name: "参股",
          },
          {
            source: "JavaScript科技",
            target: "浏览器有限公司",
            name: "参股",
          },
          {
            source: "Chrome",
            target: "浏览器有限公司",
            name: "董事",
          },
          {
            source: "IE",
            target: "浏览器有限公司",
            name: "董事",
          },
          {
            source: "Firefox",
            target: "浏览器有限公司",
            name: "董事",
          },
          {
            source: "Safari",
            target: "浏览器有限公司",
            name: "董事",
          },
          {
            source: "Chrome",
            target: "JavaScript科技",
            name: "法人",
          },
          {
            source: "小Html-1",
            target: "HTML科技",
            name: "小弟",
          },
          {
            source: "小Html-2",
            target: "HTML科技",
            name: "小弟",
          },
        ];
        this.oneEcharts();
      }
      /* true 代表点击的是圆点
       fasle 表示点击的是当前节点的文本
    */
      // if (param.event.target.culling === true) {
      //   return;
      // } else if (param.event.target.culling === false) {
      //   let args = param.data; //当前节点及其子节点的值
      //   let level = param.data.level; //当前节点的层级 eg:"1-1-0",可以通过level判断当前的层级，从而进行不同的操作
      //   console.log(args, level);
      // }
    },
    // 群体态势
    qttsFun() {
      ApiDataResourcegroup_searchAll().then((res) => {
        if (res.data.resultCode == 200) {
          if (res.data.details.rows.length > 0) {
            this.qttsList = [];
            res.data.details.rows.forEach((element) => {
              this.qttsList.push({
                qtlb: element["tlimit.group_name"],
                rysl: element["tlimit.member_count"],
                id: element["tlimit.id"],
              });
            });
          }
        }
      });
    },
    selectQt(val) {
      this.nowSelectQtry = val;
      this.qtxqLoading = true;
      ApiDataResourcegroup_searchById({
        dataServiceParams: {
          id: this.nowSelectQtry.id,
        },
        isTest: "1",
        userType: "user",
      }).then((res) => {
        if (res.data.resultCode == 200) {
          if (res.data.details.rows.length > 0) {
            this.qtryList = [];
            res.data.details.rows.forEach((element) => {
              this.qtryList.push({
                name: element["tlimit.name"],
                level: element["tlimit.level"],
                longitude: element["tlimit.longitude"],
                latitude: element["tlimit.latitude"],
                path: [element["tlimit.latitude"], element["tlimit.longitude"]],
              });
            });
            this.isShowQtxq = true;
            // 调用成功取消区域态势定时器
            if (this.timeQytsDsq) {
              clearInterval(this.timeQytsDsq);
            }
            // 取消地图所有标注，重新绘制群体点位置
            if (this.mouQuSkjlbzListDt.length > 0) {
              this.mouQuSkjlbzListDt.forEach((element) => {
                element.remove();
              });
            }
            if (this.polygonQyts) {
              this.polygonQyts.remove(); //取消地域多边形
            }
            // 绘制
            // 插入人员位置（先清除）
            if (this.qttsbzListDt.length > 0) {
              this.qttsbzListDt.forEach((element) => {
                element.remove();
              });
            }
            if (this.polygonQtts) {
              this.polygonQtts.remove(); //取消群体多边形
            }
            var icon = null;
            this.qtryList.forEach((element) => {
              if (element.level <= 3) {
                icon = this.perBlue;
              }
              if (element.level > 3 && element.level <= 6) {
                icon = this.perYellow;
              }
              if (element.level > 6) {
                icon = this.perRed;
              }
              this.bjPointFun(
                this.qttsbzListDt,
                [element.latitude, element.longitude],
                element.name,
                true,
                icon
              );
            });
            // 把群体连接起来
            let latlngs = [];
            // 位置调换
            this.qtryList.forEach((element) => {
              latlngs.push(element.path);
            });
            //创建多边形，并设置填充颜色为红色 ，具体详细API请参见：http://www.bigemap.com/offlinemaps/api/#polygon
            this.polygonQtts = BM.polygon(latlngs, { color: "red" }).addTo(
              this.mapDt
            );
            // 让地图适配当前的线段
            this.mapDt.fitBounds(this.polygonQtts.getBounds());
            //给多边形添加一个文字描述
            this.polygonQtts.bindTooltip(this.nowSelectQtry.name, {
              permanent: true,
            });
          }
        }
        this.qtxqLoading = false;
      });
    },
    qttsGoback() {
      this.isShowQtxq = false;
    },
  },
  beforeDestroy() {
    // 清除计时器
    if (this.timeDsq) {
      clearInterval(this.timeDsq);
    }
    if (this.timeQytsDsq) {
      clearInterval(this.timeQytsDsq);
    }
    if (this.timeSjml) {
      clearInterval(this.timeSjml);
    }
    if (this.timessgjDsq) {
      clearInterval(this.timessgjDsq);
    }
  },
};
</script>
  
  <style scoped lang="scss">
@import "~@/assets/fonts/stylesheet.css";
.taishi_warp {
  width: 100%;
  height: 100%;
  font-size: 18px;
  background: url("~@/assets/taishiImg/taishiBj.png") no-repeat;
  background-size: cover;
  //   padding: 11px 13px;
  position: relative;
  //   overflow: hidden;
  .title_warp {
    width: 100%;
    height: 101px;
    background: url("~@/assets/taishiImg/topImggj.png") no-repeat;
    background-size: cover;
    display: flex;
    .title_wp {
      margin: 22px 0 0 38px;
      img {
        width: 494px;
        height: 38px;
      }
    }
    .time_warp {
      width: 420px;
      .now_time {
        font-size: 36px;
        letter-spacing: 2px;
        color: #61c9ff;
        font-family: "ds-digitalbold_italic";
        margin: 55px 0 0 55px;
      }
    }
    .gaojing_warp {
      color: aliceblue;
      margin: 20px 0 0 70px;
      .now_gj {
        display: flex;
        .gj_title {
          width: 130px;
          img {
            width: 113px;
            height: 32px;
          }
        }
        .gj_content {
          width: 580px;
          padding-right: 20px;
          line-height: 28px;
          color: #ffc400;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 20px;
        }
        .gj_time {
          width: 180px;
          line-height: 28px;
          font-size: 16px;
        }
      }
    }
  }
  .bottom_warp::-webkit-scrollbar {
    width: 0;
  }
  .bottom_warp {
    width: 100%;
    height: calc(100% - 101px);
    display: flex;
    // background-color: #ffc400;
    padding-top: 20px;
    overflow-y: auto;
    .bot_left {
      width: 392px;
      height: 100%;
      .jkGj_warp {
        width: 392px;
        height: 277px;
        // margin-bottom: 30px;
        padding: 63px 0 0 27px;
        background: url("~@/assets/taishiImg/moreGj.png") no-repeat;
        // background-size: cover;
        // background-position: -25px 0;
        background-size: 100% 100%;
        // background-position: center;
        .msg_warp {
          width: 340px;
          height: 210px;
          overflow: auto;
          .seamless-warp {
            width: 340px;
            height: 210px;
            overflow: hidden;
            // .msg_warp::-webkit-scrollbar {
            //   width: 0;
            // }
            .msg_content {
              width: 100%;
              display: flex;
              cursor: pointer;
              margin-bottom: 30px;
              .msgimg {
                width: 44px;
                height: 44px;
                margin: 4px 10px;
                background: url("~@/assets/taishiImg/jkgjTit.png") no-repeat;
                background-size: cover;
                .msgIcon {
                  width: 8px;
                  height: 48px;
                  margin: 38px 0 0 18px;
                  background: url("~@/assets/taishiImg/jkgj6.png") no-repeat;
                  background-size: cover;
                }
              }
              .msg_des {
                width: calc(100% -44px);
                color: #f194b0;
                padding: 3px 10px 0 0;
                .msg_cont_top {
                  display: flex;
                  justify-content: space-between;
                  font-size: 18px;
                  .msg_cont_title {
                    font-weight: bold;
                  }
                  .msg_cont_time {
                    font-size: 16px;
                  }
                }
                .msg_cont_xq {
                  width: 266px;
                  font-size: 16px;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
              }
            }
            .msg_content:hover {
              background: url("~@/assets/taishiImg/jkgjSelect.png") no-repeat;
              background-size: cover;
            }
          }
        }
      }
      .sjml_warp {
        width: 392px;
        height: 376px;
        // margin-bottom: 30px;
        padding: 63px 0 0 27px;
        background: url("~@/assets/taishiImg/sjml.png") no-repeat;
        // background-size: cover;
        background-size: 100% 100%;
        .sjml {
          width: 340px;
          height: 309px;
          // background-color: #61c9ff;
          .sjml_top::-webkit-scrollbar {
            width: 0;
          }
          .sjml_top {
            width: 340px;
            height: 135px;
            color: #fff;
            padding: 5px 0;
            overflow-x: auto;
            .qz_warp {
              width: 110px;
              text-align: center;
              position: relative;
              cursor: pointer;
              // display: inline-block;
              // overflow: hidden;
              float: left;
              .qz_title {
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 3px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
              .qzBt {
                width: 25px;
                height: 52px;
                background: url("~@/assets/taishiImg/sjmlQzno.png") no-repeat;
                background-size: cover;
                margin: 0 auto;
              }
              .tiao {
                width: 100%;
                height: 8px;
                background-color: #0476bc;
                position: absolute;
                top: 65px;
                left: 0;
              }
              .qz_rq {
                font-size: 18px;
                color: #90caf9;
              }
              .qz_nian {
                font-size: 14px;
              }
            }
            .qz_warp_sele,
            .qz_warp:hover {
              .qzBt {
                background: url("~@/assets/taishiImg/sjmlQzxz.png") no-repeat;
              }
              .tiao {
                background-color: #eb1f4d;
              }
            }
          }
          .sjml_bottom {
            height: calc(100% - 135px);
            color: #fff;
            padding: 0 10px;
            .sjml_bot {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              span {
                color: #18ffff;
                font-weight: bold;
              }
            }
            .sjml_bot_content {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 4;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
      .ryda_warp {
        width: 392px;
        height: 311px;
        padding: 63px 0 0 27px;
        background: url("~@/assets/taishiImg/ryda.png") no-repeat;
        // background-size: cover;
        background-size: 100% 100%;
        .ryda {
          width: 340px;
          height: 244px;
          display: flex;
          .ryda_left {
            width: 170px;
            height: 225px;
            margin: 15px 0 0 10px;
            background: url("~@/assets/taishiImg/rydaSzr.png") no-repeat;
            background-size: cover;
          }
          .ryda_right {
            flex: 1;
            .ryda_right_top {
              line-height: 80px;
              font-weight: bold;
              font-size: 30px;
              text-align: center;
              color: #10283c;
            }
            .blue {
              background: linear-gradient(to bottom, #add8ec, #3ab3ea);
              -webkit-background-clip: text; /*将设置的背景颜色限制在文字中*/
              -webkit-text-fill-color: transparent; /*给文字设置成透明*/
            }
            .yellow {
              background: linear-gradient(to bottom, #e9f297, #eeff41);
              -webkit-background-clip: text; /*将设置的背景颜色限制在文字中*/
              -webkit-text-fill-color: transparent; /*给文字设置成透明*/
            }
            .red {
              background: linear-gradient(
                to bottom,
                #ffe3e7,
                #ff1744
              ); /*设置渐变的方向从左到右 颜色从ff0000到ffff00*/
              -webkit-background-clip: text; /*将设置的背景颜色限制在文字中*/
              -webkit-text-fill-color: transparent; /*给文字设置成透明*/
            }
            .ryda_right_bot {
              width: 147px;
              height: 44px;
              background: url("~@/assets/taishiImg/rydaRybj.png") no-repeat;
              background-size: cover;
              display: flex;
              justify-content: space-around;
              margin-bottom: 12px;
              font-weight: bold;
              font-size: 22px;
              padding: 6px 0 0 21px;
              .rrb_tit {
                width: 44px;
                color: #81d4fa;
              }
              .rrb_cont {
                width: 66px;
                text-align: right;
                background: linear-gradient(
                  to bottom,
                  #99f4ff,
                  #18ffff
                ); /*设置渐变的方向从左到右 颜色从ff0000到ffff00*/
                -webkit-background-clip: text; /*将设置的背景颜色限制在文字中*/
                -webkit-text-fill-color: transparent; /*给文字设置成透明*/
              }
            }
          }
        }
      }
    }
    .bot_center {
      flex: 1;
      height: 100%;
      .ditu_warp {
        width: 100%;
        // height: 745px;
        height: 675px;
        padding: 10px;
        // background-color: #61c9ff;
        position: relative;
        #map {
          width: 100%;
          height: 100%;
          /deep/ .bigemap-draw-draw-polyline,
          /deep/ .bigemap-draw-draw-polygon,
          /deep/ .bigemap-draw-draw-rectangle,
          /deep/ .bigemap-draw-draw-marker,
          /deep/ .bigemap-draw-draw-circlemarker {
            display: none;
          }
          /deep/ .bigemap-top {
            display: none;
          }
        }
        .gjszsl_warp {
          position: absolute;
          top: -20px;
          right: 9px;
          min-width: 364px;
          .gjszsl_title {
            font-size: 18px;
            font-weight: bold;
            color: #29b6f6;
            margin-bottom: 5px;
          }
          .gjszsl_bj {
            width: 100%;
            height: 56px;
            background: url("~@/assets/taishiImg/gjszsl.png") no-repeat;
            background-size: 100% 100%;
            display: flex;
            justify-content: space-between;
            .gj_bj_warp {
              text-align: center;
              padding: 0 5px;
              .shuzhi {
                font-size: 24px;
                color: #18ffff;
                font-weight: bold;
                span {
                  font-size: 16px;
                  font-weight: normal;
                }
              }
              .shijian {
                color: #7dcef4;
                font-size: 14px;
              }
            }
          }
        }
      }
      .glfx_warp {
        // min-width: 1147px;
        width: 1136px;
        height: 280px;
        padding: 63px 0 0 27px;
        background: url("~@/assets/taishiImg/glfx.png") no-repeat;
        // background-size: cover;
        background-size: 100% 100%;
        .glfx {
          width: 1085px;
          height: 217px;
          // background-color: #18ffff;
          display: flex;
          .skjl {
            width: 390px;
            padding: 10px 0 0 5px;
            position: relative;
            .skjl_title {
              color: #29b6f6;
              font-size: 20px;
              font-weight: bold;
            }
            .time_warp {
              // width: 363px;
              width: 385px;
              line-height: 41px;
              background: url("~@/assets/taishiImg/skjlK.png") no-repeat;
              background-size: cover;
              margin: 10px 0 10px 0;
              .wenzi {
                font-size: 16px;
                font-weight: bold;
                background: linear-gradient(
                  to bottom,
                  #91d4e2,
                  #2ef5f8
                ); /*设置渐变的方向从左到右 颜色从ff0000到ffff00*/
                -webkit-background-clip: text; /*将设置的背景颜色限制在文字中*/
                -webkit-text-fill-color: transparent; /*给文字设置成透明*/
              }
            }
            .xinxi_warp {
              width: 363px;
              height: 110px;
              background: url("~@/assets/taishiImg/skjlKK.png") no-repeat;
              background-size: cover;
              .tit {
                color: #75d9eb;
                font-size: 20px;
                font-weight: bold;
              }
              .renyuan::-webkit-scrollbar {
                width: 0;
              }
              .renyuan {
                overflow-y: auto;
                // .ryScroll {
                //   width: 363px;
                //   display: flex;
                //   flex-wrap: wrap;
                // }
                .gdrenyuan {
                  display: flex;
                  flex-wrap: wrap;
                  div {
                    width: 121px;
                    padding: 3px;
                    color: #fff;
                  }
                  .hong {
                    color: red;
                  }
                  .huang {
                    color: yellow;
                  }
                  .lan {
                    color: #3dbcf5;
                  }
                }
              }
            }
          }
          .skjl::after {
            content: "";
            position: absolute;
            top: -30px;
            right: 5px;
            width: 10px;
            height: 237px;
            background: url("~@/assets/taishiImg/tltpFgx.png") no-repeat;
            background-size: cover;
          }
          .tltp {
            flex: 1;
            display: flex;
            .tltp_left {
              width: 525px;
              padding: 10px 5px 0 0;
              .tltp_title {
                color: #29b6f6;
                font-size: 20px;
                font-weight: bold;
              }
              .tupuWarp {
                height: 175px;
                .tupu {
                  height: 175px;
                }
              }
            }
            .tltp_right {
              flex: 1;
              font-weight: bold;
              padding: 30px 0 0 20px;
              position: relative;
              .right_warp {
                margin-bottom: 10px;
                p {
                  color: #fff;
                  font-size: 18px;
                }
                div {
                  color: #b2ebf2;
                  font-size: 20px;
                }
              }
            }
            .tltp_right::before {
              content: "";
              position: absolute;
              top: -30px;
              left: 0;
              width: 10px;
              height: 237px;
              background: url("~@/assets/taishiImg/tltpFgx.png") no-repeat;
              background-size: cover;
            }
          }
        }
      }
    }
    .bot_right {
      width: 392px;
      height: 100%;
      .qyts_warp {
        width: 392px;
        height: 563px;
        // margin-bottom: 59px;
        padding: 63px 0 0 27px;
        background: url("~@/assets/taishiImg/qyts.png") no-repeat;
        // background-size: cover;
        background-size: 100% 100%;
        .qyst {
          width: 340px;
          height: 495px;
          .qyts_dx {
            margin: 15px 0;
            padding: 0 10px;
            /deep/ .el-radio-group {
              .el-radio {
                color: #fff;
                margin-right: 15px;
              }
            }
          }
          .qyts_xlk {
            margin-bottom: 15px;
            padding: 0 10px;
            /deep/ .el-input__inner {
              width: 320px;
            }
          }
          .qyts_dfqb_warp {
            margin-bottom: 10px;
            .qyts_dfqb_titile {
              font-size: 18px;
              font-weight: bold;
              color: #29b6f6;
              padding: 0 10px;
              margin-bottom: 10px;
            }
            .ryslbh_warp {
              width: 100%;
              height: 48px;
              background: url("~@/assets/taishiImg/qytsDf.png") no-repeat;
              background-size: 100% 100%;
              display: flex;
              .ryslbh {
                display: flex;
                justify-content: space-between;
                width: 230px;
                padding: 0 5px 0 10px;
                line-height: 48px;
                .wenzi {
                  color: #90caf9;
                  font-size: 16px;
                }
                .kjsz {
                  letter-spacing: 2px;
                  color: #18ffff;
                  font-family: "ds-digitalnormal";
                  font-size: 26px;
                }
              }
              .xian {
                flex: 1;
                height: 26px;
                background: url("~@/assets/taishiImg/qytsXian.png") no-repeat;
                background-size: 100% 100%;
                margin: 10px 0 0 5px;
              }
            }
            .qtslbh {
              background-size: 100% 100%;
              background: url("~@/assets/taishiImg/qytsDf2.png") no-repeat;
              background-position: 100% 100%;
            }
            .sjslbh {
              background-size: 100% 100%;
              background: url("~@/assets/taishiImg/qytsDf3.png") no-repeat;
              background-position: 100% 100%;
            }
          }
          .qyts_wfqb_warp {
            margin-bottom: 10px;
            .qyts_wfqb_title {
              font-size: 18px;
              font-weight: bold;
              color: #29b6f6;
              padding: 0 10px;
              margin-bottom: 5px;
            }
            .wfqb_warp {
              .wfqbbj {
                background: url("~@/assets/taishiImg/wfqbBj.png") no-repeat;
                background-size: 100% 100%;
              }
              .wfqb {
                display: flex;
                width: 100%;
                height: 56px;
                color: #fff;
                padding: 2px 0;
                .wofq_icon {
                  width: 34px;
                  height: 20px;
                  background: url("~@/assets/taishiImg/wfqbSxt.png") no-repeat;
                  background-size: cover;
                  margin: 20px 10px 0 15px;
                }
                .wofq_gzg {
                  width: 91px;
                  text-align: center;
                  font-size: 20px;
                  p {
                    margin-top: 2px;
                    color: #69f0ae;
                    font-size: 14px;
                  }
                }
                .wofq_wxz {
                  width: 91px;
                  text-align: center;
                  font-size: 20px;
                  p {
                    color: #77c4e8;
                    font-size: 14px;
                    margin-top: 2px;
                  }
                }
                .wofq_ygb {
                  width: 91px;
                  text-align: center;
                  font-size: 20px;
                  p {
                    font-size: 14px;
                    margin-top: 2px;
                  }
                }
              }
            }
          }
        }
      }
      .qtts_warp {
        width: 392px;
        height: 404px;
        padding: 63px 0 0 27px;
        background: url("~@/assets/taishiImg/qtts.png") no-repeat;
        // background-size: cover;
        background-size: 100% 100%;
        .qtts {
          width: 340px;
          height: 338px;
          padding: 5px 0;
          overflow: hidden;
          .qt_warp::-webkit-scrollbar {
            width: 0;
          }
          .qt_warp {
            overflow-y: auto;
            height: 338px;
          }
          .qt {
            display: flex;
            width: 100%;
            height: 48px;
            cursor: pointer;
            .qt_left {
              width: 310px;
              padding: 3px 2px;
              .qi_left_top {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
                font-size: 16px;
                font-weight: bold;
                background: linear-gradient(
                  to bottom,
                  #e1f5fe,
                  #81d4fa
                ); /*设置渐变的方向从左到右 颜色从ff0000到ffff00*/
                -webkit-background-clip: text; /*将设置的背景颜色限制在文字中*/
                -webkit-text-fill-color: transparent; /*给文字设置成透明*/
              }
              .qi_left_bottom {
                display: flex;
                justify-content: space-between;
                color: #75848d;
                font-size: 12px;
                font-weight: bold;
              }
            }
            .qt_right {
              flex: 1;
              .qt_right_btn {
                margin: 15px 0 0 5px;
                width: 16px;
                height: 13px;
                background: url("~@/assets/taishiImg/qttsBtn.png") no-repeat;
                background-size: cover;
              }
            }
          }
          .qt:hover,
          .qtBj {
            background: url("~@/assets/taishiImg/qttsBj.png") no-repeat;
            // background-size: cover;
            background-size: 100% 100%;
          }
          .qtxq_warp {
            .qtxq_title {
              line-height: 40px;
              display: flex;
              .qtxq_goback {
                margin: 14px 5px 0 10px;
                width: 16px;
                height: 13px;
                background: url("~@/assets/taishiImg/qtxqBack.png") no-repeat;
                background-size: cover;
                cursor: pointer;
              }
              .qtxq_tit {
                font-size: 18px;
                color: #fff;
              }
            }
            .qtxq_ry::-webkit-scrollbar {
              width: 0;
            }
            .qtxq_ry {
              height: 290px;
              overflow-y: auto;
              .gd_warp {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .qtxq_ry_warp_zj,
                .qtxq_ry_warp {
                  width: 144px;
                  height: 50px;
                  color: #fff;
                  font-size: 14px;
                  padding: 0 0 0 60px;
                  margin: 5px 0;
                  cursor: pointer;
                }
                .qtxq_ry_warp:hover {
                  background-color: rgba(61, 188, 245, 0.2);
                }
                .blue {
                  background: url("~@/assets/taishiImg/qtxqBlue.png") no-repeat;
                  background-size: cover;
                }
                .yellow {
                  background: url("~@/assets/taishiImg/qtxqYellow.png")
                    no-repeat;
                  background-size: cover;
                }
                .red {
                  background: url("~@/assets/taishiImg/qtxqRed.png") no-repeat;
                  background-size: cover;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>